<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
        </header>

        <main class="px-3">
            <h1>.....در حال ساخت</h1>
        </main>

        <footer class="mt-auto text-white-50">
            <p>می خوای برگردی به صفحه اصلی <a href="/" class="text-white">بزن بریم</a></p>
        </footer>
    </div>



</body>