<body>


    <div class="bg-container">
        <img src="" alt="" id="background">
    </div>
    <div class="player-container">
        <i style="margin: 15px;" class="fas fa-ellipsis-v"></i>
        <!-- Song -->
        <div class="img-container">
            <img src="" alt="" id="cover" class="active">
        </div>
        <h2 id="title"></h2>
        <h3 id="artist"></h3>
        <audio src=""></audio>
        <!-- Progress -->
        <div class="progress-container" id="progress-container">
            <div class="progress" id="progress"></div>
            <div class="duration-wrapper">
                <span id="current-time"></span>
                <span id="duration"></span>
            </div>
        </div>
        <!-- Controls -->
        <div class="player-controls">
            <i class="fas fa-backward" id="prev" title="Previous"></i>
            <i class="fas fa-play main-button" id="play" title="Play"></i>
            <i class="fas fa-forward" id="next" title="Next"></i>
        </div>
    </div>