<body style="background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);">
    <!-- !start navbar -->
    <nav>
        <header>
            <div class="login-box" style="background-image: url(/img/12.png)">
                <form action="">
                    <div class="nav-bar d-flex justify-content-between">
                        <div class="search d-flex  ml-2 pt-2">
                            <button class="serch-reza">جستجو</button>
                            <input style="height: 5vh;" type="search" class="form-control-sm input-reza"
                                placeholder="جستجو در بین هزاران اهنگ...">
                        </div>
                        <div class="icons d-flex ml-2 pt-2">
                            <a class="music user" href="/users/register"><i class="fas fa-user"></i></a>
                            <a class="musicplayer" href="/musicplayer"><i class="fab fa-spotify"></i></a>
                            <a class="game" href="/game"><i class="fas fa-gamepad"></i></a>
                            <a class="music" href="#">
                                <i  class="fas fa-pause"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="re  badge" style="color: black; background-color: white;">sic</span>
                        <span class="badge" style="color: red;">we</span>
                    </div>
                </form>
            </div>
        </header>
    </nav>

    <nav>
        <section class="mainbox">
            <div class="mains">
                <div class="my-row d-flex flex-row justify-content-center  flex-wrap  ">
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/">خانه</a>
                    </div>
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/traditi">سنتی</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/musicvideo">موزیک ویدیو</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/pop">پاپ</a>
                    </div>
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/musicfilm">موسیقی فیلم</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;"
                            href="/england">خارجی</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">راک</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">محلی</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">بی کلام</a></div>
                    <div class="my-col"><a style="text-decoration: none; color: white;" href="/study">برای مطالعه</a>
                    </div>
                </div>
            </div>
        </section>
    </nav>
    <!-- !end navbar -->
    <!-- !start card -->
    <main>
        <div style="margin: auto;" class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video poster="/ودیو/poster/GUNyrP.jpg" controls
                            src="/ودیو/Katy Perry ft. Nicki Minaj - Swish Swish - HD 1080p.mp4"></video>
                        <div class="d-flex">
                            <div class="icon">
                                <div class="icon-box">
                                    <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                    <span>مورد علاقه</span>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="menuicon">
                                    <span class="s1"></span>
                                    <span class="s2"></span>
                                </div>
                                <h3 style="color: white;" class="card-title">Katy Perry</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video poster="/ودیو/poster/04163eb537886a2738a73ee230354454.jpg" controls
                            src="/ودیو/Demi Lovato - Let It Go (1080).mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Demi Lovato</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/Evermoist3.jpg" controls
                            src="/ودیو/Pitch Perfect 9.mkv"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Pitch Perfect</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"  class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/pitch-perfect1.jpg" controls
                            src="/ودیو/Pitch perfect.1.mkv"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Pitch Perfect</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/CoverSelBK.jpg" controls
                            src="/ودیو/Selena Gomez & Marshmello - Wolves - HD 1080p.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Selena Gomez</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/182786.jpg" controls
                            src="/ودیو/Taylor Swift - Delicate - HD 1080p.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Taylor Swift</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/12_concert.jpg" controls
                            src="/ودیو/VID_20190102_164858_934.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Homayoun Shajarian</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">

                    <div class="card">
                        <video poster="/ودیو/poster/1599503.jpg" controls
                            src="/ودیو/VID_20190102_220012_020.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Homayoun Shajarian</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video poster="/ودیو/poster/1561264639678_GD629DFQK.1-2.jpg" controls
                            src="/ودیو/VID_20190105_000450_966.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Violin</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video poster="/ودیو/poster/unnamed27.jpg" controls
                            src="/img/ودیو/اجرای_بی_نظیر_تم_اصلی_سریال_Game_Of_Thrones_رامین_جوادی_2015-720p.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Game of thronse</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video poster="/ودیو/poster/Alessia-Cara-Tour-2019-1024x576.jpg" controls
                            src="/ودیو/Alessia Cara - Scars To Your Beautiful - HD 1080p.mp4"></video>
                            <div class="d-flex">
                                <div class="icon">
                                    <div class="icon-box">
                                        <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                        <span>مورد علاقه</span>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="menuicon">
                                        <span class="s1"></span>
                                        <span class="s2"></span>
                                    </div>
                                    <h3 style="color: white;" class="card-title">Alessia Cara</h3>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
                <div style="margin: 20px;  height: 60vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);" class="card">
                    <div class="card">
                        <video controls src="http://up.yekpars.com/uploads/162740428565411.mp4"></video>
                        <div class="d-flex">
                            <div class="icon">
                                <div class="icon-box">
                                    <i style="color: red;" class="fas fa-heart WOW animate__animated"></i>
                                    <span>مورد علاقه</span>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="menuicon">
                                    <span class="s1"></span>
                                    <span class="s2"></span>
                                </div>
                                <h3 style="color: white;" class="card-title">Tomorrow</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- !end card -->
    <!-- !start footer -->
    <footer class="end" style="background-image: url(/img/12.png)">
        <form action="">
            <div class="text text-center">
                <h2>سایت we sic شامل برترین اهنگ های پاپ سنتی<br>موسیقی فیلم و شامل برترین کنسرت های روز دنیا</h2>
                <h2>we sic 2019 - 2021</h2>
                <div style="font-size: 1.5em;">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="""><i class=" fab fa-instagram"></i></a>
                    <a href=""><i class="fas fa-film"></i></a>
                    <a href=""><i class="fab fa-telegram-plane"></i>
                </div>
            </div>
        </form>
    </footer>