<body style="background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);">
    <!-- !start navbar -->
    <nav>
        <header>
            <div class="login-box" style="background-image: url(/img/12.png)">
                <form action="">
                    <div class="nav-bar d-flex justify-content-between">
                        <!-- <div class="search d-flex  ml-2 pt-2">
                            <button class="serch-reza">search</button>
                            <input style="height: 5vh;" type="search" class="form-control-sm input-reza"
                                placeholder="جستجو در بین هزاران اهنگ...">
                        </div>
                        <div class="icons d-flex ml-2 pt-2">
                            <a class="music" href="">
                                <i class="fas fa-music"></i>
                            </a>
                        </div> -->
                    </div>

                    <div class="text text-center">
                        <span class="re  badge" style="color: black; background-color: white;">sic</span>
                        <span class="badge" style="color: red;">we</span>
                    </div>
                </form>
            </div>
            <section class="mainbox">
                <div class="mains">
                    <div class="my-row d-flex flex-row justify-content-center  flex-wrap  "
                        style="background-image: url(/img/12.png)">
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/">خانه</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/traditi">سنتی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/musicvideo">موزیک
                                ویدیو</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/pop">پاپ</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/musicfilm">موسیقی فیلم</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/england">خارجی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">راک</a>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </header>
    </nav>
    <!-- end navbar -->

    <!-- start card -->
    <main style="height: 100%;">
        <div class="reza ml-3">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="reza" role="tabpanel">
                            <!-- <div class="text-light text-uppercase font-weight-bold text-center banner"
                                style="font-family: Impact;">
                                <h1 class="display-2 banner-heading">ابی</h1>
                                <p class="h1  banner-par text-center mr-4"><span>amazing</span>
                                    <span>Singer</span>
                                </p>
                            </div> -->
                            <div class="display-2 text-light text-center" id="nameSinger16"></div>
                            <div class="row ">
                                <div class="column">
                                    <img src="/img/اشخاص/ابی/1.jpg">
                                    <img src="/img/اشخاص/ابی/5.jpeg">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/ابی/4.jpg">
                                    <img src="/img/اشخاص/ابی/10.jpg">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/ابی/11.jfif">
                                    <img src="/img/اشخاص/ابی/12.jfif">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/ابی/6.jfif">
                                    <img src="/img/اشخاص/ابی/2.jpg">
                                </div>
                            </div>
                            <div class="container text-center">
                                <p style="color: white; ;" class="lead ml-2 mr-2">ابراهیم حامدی (زادهٔ ۲۹ خرداد ۱۳۲۸)،
                                    با نام هنری ابی، خوانندهٔ موسیقی پاپ ایرانی است.[۱] او از دستهٔ خوانندگان تنور ایران
                                    است. ابی در سبک‌های مختلف همانند راک، بالاد، موسیقی فولکلور، پاپ، دنس، هاوس و ترنس
                                    موسیقی صاحب اثر است</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">برخی او را با تام جونز، خوانندهٔ
                                    سرشناس بریتانیایی، مقایسه کرده‌اند؛ با این تفاوت که ابی را بر خلاف تام جونز دارای
                                    تمایلات سیاسی می‌دانند.[۳] بسیاری از طرفدارانش او را «آقای صدا» در حوزهٔ موسیقی پاپ
                                    فارسی می‌دانند</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">پدر ابی از اهالی اراک بوده و مادرش از
                                    اهالی کلاک.[۴] او دوران کودکی خود را در محلهٔ میدان فوزیهٔ تهران سپری کرده‌است و
                                    دارای چهار خواهر و یک برادر است.[۵] او در سال ۱۳۵۳ با فیروزه مقدادی ازدواج کرده و از
                                    وی صاحب سه دختر به نام‌های عسل، سایه و خاتون است که برای هر کدام از آن‌ها ترانه‌ای
                                    جداگانه خوانده‌است.[نیازمند منبع] ابی دو سال قبل از وقوع انقلاب در ایران، برای اجرای
                                    کنسرت به آمریکا می‌رود و با شروع انقلاب، ناگزیر در آنجا ماندگار می‌شود.</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">ابی پس از جدایی از همسر اول خود با
                                    مهشید برومند ازدواج می‌کند. وی یک پسر به نام فرشید دارد که از همسر قبلی مهشید است
                                    گفته می‌شود آغاز آشنایی آن‌ها با یکدیگر، در یکی از اجراهای ابی در گوتنبرگ
                                    بوده‌است.[۲] مهشید برومند که مدیر برنامه‌های ابی نیز محسوب می‌شود در اکثر کنسرت‌های
                                    وی حضور داشته‌است
                                </p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">ابی به موسیقی یونانی علاقه‌مند است و
                                    از خوانندگان محبوبش می‌توان به پیتر گابریل، فردی مرکوری، استینگ، بونو و جیم موریسون
                                    از گروه راک دورز اشاره کرد.[۷] او تمایلی به شنیدن صدای خود در محیط خانه نیز ندارد
                                </p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">ابی پیش از انقلاب، تک‌آهنگ‌های زیادی
                                    را بر روی صفحه منتشر کرد ولی هیچ‌گاه آلبوم مستقلی از وی ارائه نشد. آثار این دورهٔ او
                                    بعد از انقلاب و در خارج از کشور بود که در قالب آلبوم‌های مستقل و به صورت کاست به
                                    بازار عرضه شد. در کارنامهٔ کاری وی، همکاری با ترانه‌سرایان برجسته‌ای چون ایرج جنتی
                                    عطایی، اردلان سرفراز، منصور تهرانی و شهیار قنبری و آهنگسازان سرشناسی چون فرید زلاند،
                                    سیاوش قمیشی، واروژان، محمد شمس، شادمهر عقیلی، حسن شماعی زاده، اسفندیار منفردزاده و
                                    بابک بیات به چشم می‌خورد</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">عشق هم در کلام او گاه رنگ و بوی زمینی
                                    و جسمانی پیدا می‌کند و عاشق، از چشم و لب و قد و تن یار سخن به میان می‌آورد مانند
                                    ترانهٔ «مداد رنگی»؛[۲۵] و گاه چنان ژرف، متعالی و مقدس می‌شود که سخن از معراج و رجعت
                                    و خدا شدن به میان می‌آید مانند ترانهٔ «رازقی».[۲۶] اکثر این ترانه‌های عاشقانه، اشعار
                                    ترانه‌سراهای معاصر است ولی در لابه‌لای آن‌ها اشعار عرفانی شعرای متقدم نیز دیده
                                    می‌شود مانند آهنگ «حیلت رها کن» که شعر آن از مولوی است[۲۷] و آهنگ «خدا می‌داند» که
                                    شعر آن از شمس مشرقی شاعر و عارف قرن هشتم است</p>
                            </div>
                            <div class="container text-center"><span class="postertext">برترین آلبوم ها</span></div>
                            <div id="owl-product" class="reza-owl  owl-carousel owl-theme container">
                                <div class="item poster"><img src="/img/اشخاص/ابی/البوم/1.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/ابی/البوم/2.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/ابی/البوم/3.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/ابی/البوم/4.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/ابی/البوم/5.jpg" alt=""></div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="reza1" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger17"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/داریوش/1.jpg">
                                        <img src="/img/اشخاص/داریوش/5.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/داریوش/4.jpg">
                                        <img src="/img/اشخاص/داریوش/10.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/داریوش/11.jpg">
                                        <img src="/img/اشخاص/داریوش/12.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/داریوش/6.jpg">
                                        <img src="/img/اشخاص/داریوش/3.jfif">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class=" lead mr-4 ml-4 " style=" color: white;">داریوش اقبالی (زادهٔ ۱۵ بهمن ۱۳۲۹
                                        در تهران) معروف به داریوش، خواننده، بازیگر و فعال اجتماعی ایرانی است، که در
                                        زمینه موسیقی راک و پاپ ایرانی فعالیت می‌کند. جنس صدای وی بیس است. داریوش عضو
                                        سازمان عفو بین‌الملل است</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;">دوران کودکی او در کرج و میانه
                                        گذشت. پدرش محمود اقبالی، از ملاکان شهرستان میانه بود. اولین بار در سن ۹ سالگی،
                                        در جشنی در مدرسه‌اش در شهرآرا به روی صحنه رفت. دوران دبیرستان را در
                                        دبیرستان‌هایی هم‌چون فارابی، کرج، رازی و دبیرستان آزادگان تهران‌پارس گذراند و در
                                        مراسم و همایش‌ها، به اجرای برنامه‌های هنری می‌پرداخت.
                                        وی در سال ۱۳۴۹ با حسن خیاط‌باشی آشنا شد و همین آشنایی موجب ورود رسمی داریوش به
                                        موسیقی حرفه‌ای شد. در همین سال، او در سن ۱۹ سالگی با ترانهٔ به من نگو دوست دارم
                                        با آهنگسازی مصطفی جاویدان، به شهرت رسید. نخستین موزیک مستقل او به‌نام نبسته
                                        پیمان با ترانه‌ای از علی گزرسز (رها) و ملودی خودش است.</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;">داریوش در دوران پهلوی و به علت
                                        خواندن آهنگ‌های سیاسی مانند جنگل، بن‌بست، بوی گندم، علی کنکوری و گل بارون‌زده،
                                        مدتی زندانی شد. وی در نظرسنجی مجله جوانان در سال ۱۳۵۶ به عنوان محبوب‌ترین
                                        خواننده ایران برگزیده می‌شود.[۲] داریوش همکاری با شماری از چهره‌های سرشناس
                                        موسیقی پاپ ایران مانند منوچهر چشم آذر، بابک افشار، آندرانیک آساطوریان و صادق
                                        نوجوکی را نیز در کارنامه خود دارد. ایرج جنتی عطایی، شهیار قنبری، احمد شاملو و
                                        اردلان سرفراز نیز از جمله مشهورترین ترانه‌سرایانی هستند که در این دوره با داریوش
                                        همکاری داشته‌اند.</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;">پس از پیروزی انقلاب اسلامی در
                                        ایران، داریوش که پیش از آن برای معالجهٔ صورت خود (آسیب‌دیده در سوءقصد اسیدپاشی)
                                        به لندن سفر کرده بود، دیگر به ایران بازنگشت. وی مانند اغلب خوانندگان پاپ ایرانی،
                                        پس از انقلاب ۱۳۵۷ فعالیت خود را در خارج از کشور آغاز نمود. داریوش در وبلاگ شخصی
                                        خود، دلیل خروج از ایران را چنین بیان کرده:
                                        پس از انقلاب ۱۳۵۷ و به دنبال کشتار، خون‌ریزی و خفقان حاکم بر سرزمینم، مجبور به
                                        ترک وطن شدم. از آن زمان تا حال، در سفری بی‌انتها، می‌کوشم در کنار هموطنانم سرود
                                        ایرانی آزاد را هم‌صدا شوم.
                                        او در طول سال‌هایی که بیرون از ایران بوده، همواره از پناه‌جویان ایرانی حمایت
                                        کرده‌است و در تظاهرات حمایت از این افراد فعال بوده‌است.[۳] وی همچنین با تشکیل
                                        بنیادهایی چون آینه، به حمایت از مبتلایان به اعتیاد برخاسته‌است.[۴]
                                        استفاده از ترانه‌ها و اشعار افرادی نظیر اردلان سرفراز، ایرج جنتی عطایی، شهیار
                                        قنبری، سیمین بهبهانی، مینا جلالی، هما میرافشار، زویا زاکاریان و بزرگانی چون
                                        مولانا و حافظ شیرازی، پرداختن به موسیقی اجتماعی، خواندن ترانه‌هایی که بار
                                        اعتراضی نسبت به وضعیت اجتماعی و سیاسی ایران، از جمله فقر، آزادی و اعتیاد را دارد
                                        و نیز برخورداری از صدایی خاص، او را به یکی از پرطرفدارترین و محبوبترین خوانندگان
                                        ایرانی تبدیل نموده‌است. یکی از کارهای بزرگ و شاخصی که او در طی مدت همکاری با
                                        عبدی یمینی به انجام رساند، بازسازی مجدد برخی از آهنگ‌های دههٔ ۱۳۵۰ بود که با
                                        صدای داریوش خوانده شده بود. موسیقی وی در نزد عموم مردم و فعالان اجتماعی در ایران
                                        و کشورهای اروپایی و عربی، دارای محبوبیت بی‌شماری است</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;">داریوش عضو سازمان عفو بین‌الملل
                                        است. وی به جز اهمیت به ترک اعتیاد و رهایی به مسائل اجتماعی، پناه‌جویان ایرانی،
                                        گروه‌های جوامع اقلیت و کودکان کار نیز توجه دارد. وی در سال‌های اخیر با کمک
                                        دانشجویان کمپین حمایت از این افراد را تأسیس نمود</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container ">
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/داریوش/لبوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/داریوش/لبوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/داریوش/لبوم/3.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/داریوش/لبوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/داریوش/لبوم/5.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class=" tab-pane fade" id="reza2" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger18"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/حاجی لی/1.jpg">
                                        <img src="/img/اشخاص/حاجی لی/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/حاجی لی/4.jfif">
                                        <img src="/img/اشخاص/حاجی لی/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/حاجی لی/11.jpg">
                                        <img src="/img/اشخاص/حاجی لی/5.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/حاجی لی/6.jpeg">
                                        <img src="/img/اشخاص/حاجی لی/3.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p style="color: white;" class="lead mr-5 ml-5">و از سن ۹ سالگی نوازندگی پیانو را
                                        آغاز کرد و از ۱۱ سالگی وارد هنرستان موسیقی شد، پس از حدود ۳ سال نوازندگی ویولن
                                        ساز خود را به ترومپت تغییر داد و هم‌زمان به صورت خود آموز نوازندگی پرکاشن و درام
                                        را آغاز کرد و سال ۱۳۷۷ دیپلم هنرستان را گرفت و تا مقطعِ لیسانس در همان‌جا ادامه
                                        داد و بعد از آن مدرک کارشناسی ارشد موسیقی را از دانشگاهِ هنر اخذ نمود و همچنین
                                        در سال ۱۳۹۶ مدرک دکتری افتخاری زیر نظر وزارت علوم در رشته آهنگسازی نیز دریافت
                                        نمود. علاوه بر ساز ترومپت و فلوگِل هورن او نوازندهٔ سازهای پیانو، پرکاشن و درام
                                        نیز می‌باشد</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">امید جاجیلی٬ مدرسِ اسبقِ دانشکده
                                        موسیقی صداوسیما و دانشکده هنر و معماری دانشگاه آزاد و دانشگاه تهران است. آهنگساز
                                        و تنظیم‌کننده و نوازندهٔ حرفه‌ای ساز ترومپت که در بسیاری از آلبوم‌های موسیقی
                                        حضور داشته‌است، او سابقه ده سال نوازندگی در ارکستر سمفونیک تهران ،ارکستر
                                        فیلارمونیک تهران، ارکستر سمفونیکِ صدا و سیما و ارکسترهای دیگر دارد. وی آهنگ‌ساز
                                        و تنظیم کنندهٔ چندین ترک در آلبوم‌های مختلف بوده و سابقهٔ همکاری با خوانندگانی
                                        همچون: علیرضا عصار، سیروان خسروی، محسن چاوشی (قطعه مردم آزار)، علی لهراسبی،
                                        خشایار اعتمادی، حامی، نیما مسیحا، شاهکار بینش پژوه، محمد زارع، جمشید عزیزخانی و
                                        … داشته‌است و هم‌چنین رهبر ارکسترِ چند گروهِ پاپ از جمله ناصر عبداللهی و رضا
                                        صادقی نیز بوده‌است و یکی از اعضای اصلی گروه دارکوب است.[</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/حاجی لی/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/حاجی لی/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/حاجی لی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/حاجی لی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/حاجی لی/البوم/5.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class=" tab-pane fade" id="reza3" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger19"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/چاووشی/1.jpg">
                                        <img src="/img/اشخاص/چاووشی/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/چاووشی/4.jfif">
                                        <img src="/img/اشخاص/چاووشی/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/چاووشی/11.jpg">
                                        <img src="/img/اشخاص/چاووشی/12.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/چاووشی/2.jpg">
                                        <img src="/img/اشخاص/چاووشی/3.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">

                                    <p style="color: white;" class="lead mr-5 ml-5">محسن چاوشی زادهٔ خرمشهر است و اصالتی
                                        کردتبار دارد.[۷] خانواده وی با توجه به شرایط کاری که پدرش به عنوان کارمند شرکت
                                        نفت داشت به خرمشهر مهاجرت کردند و محسن در خرمشهر متولد شد. وی فرزند پنجم خانواده
                                        و دارای دو خواهر و سه برادر (مهراد، فرهاد و هوشنگ) است.[۸] بعد از اشغال خرمشهر
                                        در زمان جنگ، خانواده او به شهرهای کرمانشاه، مشهد و نهایتاً تهران مهاجرت کردند.
                                        او در سال ۱۳۸۸، با اسپاکو یوسفی ازدواج کرد و در سال ۱۳۹۲ صاحب فرزندی پسر به نام
                                        زانکو شد.[</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">محسن چاوشی پس از دریافت فوق دیپلم
                                        حسابداری و اتمام دوره سربازی، فعالیت حرفه‌ای خود را در زمینهٔ موسیقی در سال ۱۳۸۲
                                        با آلبوم نفرین آغاز کرد و پس از اخذ مجوز در سال ۱۳۸۷ آلبوم یه شاخه نیلوفر را
                                        منتشر کرد. از وی تاکنون بیش از ۲۰۰ قطعه موسیقی شنیده شده‌است، که شامل ۱۱ آلبوم و
                                        نیز چندین تک‌آهنگ است</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">وی خواننده و آهنگساز ترانه‌های فیلم
                                        سینمایی سنتوری ساختهٔ داریوش مهرجویی بود. چاوشی همچنین یک قطعه برای تیتراژ
                                        پایانی فیلم سینمایی لامپ ۱۰۰ به کارگردانی سعید آقاخانی خواند.
                                        محسن چاوشی خواننده ترانه‌های سریال شبکه خانگی شهرزاد ساختهٔ حسن فتحی می‌باشد که
                                        نقش با سزایی در محبوبیت تک‌آهنگ کجایی او داشت.[۱۱][۱۲]
                                        محسن چاوشی دربارهٔ نحوهٔ ضبط صدایش برای آهنگ‌های فیلم سنتوری می‌گوید: «چاره‌ای
                                        جز این نداشتم که در خانه و در یکی از اتاق‌هایمان کار ضبط را انجام بدهم. به کمک
                                        مادرم یک پتو را با میخ به جلوی پنجره زدیم و دیوارها را هم با پتو پوشانیدم تا صدا
                                        نپیچد. مادرم از اتاق بیرون رفت و با یک پتو از بیرون، در اتاق را پوشاند. خودم هم
                                        از این طرف در، یک پتو آویزان کردم تا بتوانم در نهایت فضایی را در اختیار داشته
                                        باشم که در آن بشود وکال گرفت. بعد از همه این ماجراها، پتو را کشیدم روی سرم و در
                                        همان شرایط خواندم و همه وکال را ضبط کردم. از زیر پتو که بیرون آمدم، «علی سنتوری»
                                        به دنیا آمده بود. همان نسخه هم نهایی شد و پخش شد»</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">از زمان پخش نخستین آلبوم او «نفرین»
                                        تا به امروز، شایعات زیادی مبنی بر برگزاری کنسرت توسط چاوشی شنیده شده‌است و
                                        عده‌ای هم دست به سوء استفاده‌هایی این چنینی در این زمینه کرده‌اند.
                                        محسن چاوشی پس از کسب مجوز و در آستانه انتشار دومین آلبوم رسمی خود، در اردیبهشت
                                        سال ۱۳۸۸ طی نامه‌ای به هوادارانش اعلام کرد که در حال جمع کردن بند و نوشتن پارت
                                        است و کنسرتی بعد از پخش آلبوم «ژاکت» برگزار خواهد کرد، اما بعد از گذشت مدتی از
                                        آن زمان و انتشار آلبوم این اتفاق رخ نداد و تاکنون نیز رخ نداده‌است. گفته می‌شد
                                        تا چندی پیش «شهاب اکبری» مسئول جمع کردن گروه برای چاوشی بود که احتمال دارد پیش
                                        از او فرد دیگری مسئولیت این کار را بر عهده داشته‌است. در حال حاضر نیز شایعه
                                        شده‌است که با بهروز صفاریان برای جمع‌بندی پارت کنسرت به مشارکت پرداخته‌است/p>
                                    <p style="color: white;" class="lead mr-5 ml-5">شاید هیچ خواننده مطرحی پیدا نشود که
                                        با گذشت ۱۰ سال از مطرح شدن نام و فعالیتش، کنسرتی برگزار نکرده باشد. همین امر
                                        باعث شده عده‌ای بگویند چاوشی توان اجرای زنده را ندارد، اما خود او گفته بهتر از
                                        هر کسی در اجرای زنده مهارت دارد.[۹] در اردیبهشت ۱۳۹۴، چاوشی در مصاحبه‌ای دربارهٔ
                                        عدم برگزاری کنسرت گفت: «در ایران کنسرت بیشتر شبیه جنگ شادی است تا کنسرت موسیقی،
                                        برف شادی می‌زنند و یکباره از توی جعبه در می‌آیند و روی سن ظاهر می‌شوند. صدابردار
                                        خوب هم که نداریم. برای همین در اغلب کنسرت‌ها نه هارمونی وجود دارد، نه آن صداهایی
                                        که لازم است مخاطب موسیقی از سازها بشنود و صدابرداری شود. فقط یک کار باری به هر
                                        جهت ارائه می‌دهند که من اهلش نیستم</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">محسن چاوشی تاکنون، به صورت تمرینی دو
                                        ترانه «زخم زبون» و «خاکستر» را به صورت زنده اجرا و ضبط کرده‌است.[۱۶][۱۷] محسن
                                        چاوشی در تیرماه سال ۱۳۹۵ برای اولین بار قسمتی از قطعه متاسفم برات را به صورت
                                        زنده اجرا و در صفحه اینستاگرام خود منتشر کرد</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">محسن چاوشی قرار بود خواننده تیتراژ
                                        فیلم چ ساخته ابراهیم حاتمی‌کیا باشد،[۱۹] اما به دلیل اظهارات حاتمی‌کیا در نشست
                                        خبری فیلم چ که در این رابطه گفته‌بود «فیلم بسته شده بود و پس از آن، آقای چاوشی
                                        فیلم را دیدند. ایشان خیلی با چ ارتباط برقرار کرد و آن را دوست داشت و در نهایت هم
                                        قرار شد یک کار آزاد در این‌باره انجام دهد نه برای تیتراژ.»، محسن چاوشی در صفحه
                                        شخصی خودش نوشت «به دلیل طرح ادعاهایی سراسر وارونه و کذب دربارهٔ نحوه همکاری بنده
                                        با پروژه چ در نشست مطبوعاتی این فیلم در جشنواره، بهتر است کماکان سنتوری اولین و
                                        آخرین تجربه سینمایی‌ام باشد.»[۲۰]
                                        در پی قرار گرفتن ریمیکس آهنگ‌های «قطار» و «عروس من» در نظرسنجی برنامه «هفت
                                        ترانه» شبکهٔ شما و همچنین پخش آهنگ «قطار» به عنوان تیتراژ برنامهٔ ساعت ۲۵، از
                                        شبکه پنج صدا و سیما، محسن چاوشی بیانیه‌ای را صادر کرد. وی نیز اعلام کرد: «برای
                                        پخش هیچ‌یک از قطعات آلبوم‌هایم از من اجازه گرفته نشده‌است».</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/چاووشی/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/چاووشی/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/چاووشی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/چاووشی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/چاووشی/البوم/5.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza4" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger20"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/بانی/1.jpg">
                                        <img src="/img/اشخاص/بانی/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/بانی/4.jpg">
                                        <img src="/img/اشخاص/بانی/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/بانی/8.jpg">
                                        <img src="/img/اشخاص/بانی/12.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/بانی/2.png">
                                        <img src="/img/اشخاص/بانی/6.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">بهنام بانی در ۸ سالگی قاری قرآن
                                        بود.[۲] او پدرش را که نوازنده آکاردئون است، علت گرایشش به موسیقی می‌داند. وی از
                                        دوران کودکی علاقه بسیاری به هنر داشت و نزد پدرش تمرین موسیقی را آغاز کرد[۳] سپس
                                        در دوران نوجوانی نزد استادان مجرب همچون محمد نوری به صورت حرفه‌ای به یادگیری
                                        موسیقی پرداخت. بهنام در ادامه از سن ۱۹ سالگی همزمان با دوران دانشجویی خود با
                                        گروه موسیقی روژان آشنا شد و با آن‌ها همکاری کرد که در این گروه مهدی یغمایی نیز
                                        حضور داشت</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">هنام بانی با نخستین کنسرت خود یک
                                        رکورد جدید در بازار موسیقی ایران به ثبت رساند. به گزارش سایت موسیقی ما تمام ۴۱۰۰
                                        بلیت نخستین کنسرت بهنام بانی در سالن همایش میلاد تهران در کمتر از ۱۵ دقیقه به
                                        فروش رسید. پس از تهران به ترتیب در شهرهای جزیره کیش، متل قو، چالوس، رشت، ساری و
                                        خوی و آستارا کنسرت برگزار گردید که در تمام این کنسرت‌ها آهنگ‌های علاقه خاص، من
                                        یه دیوونم، چی بگم، عاشقم کرده، همه دنیام، بَسَمه، اخماتو وا کن، چه بخوای چه
                                        نخوای و چند آهنگ جدید دیگر به رهبری حامد برادران اجرا شد.</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/بانی/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/بانی/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/بانی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/بانی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/بانی/البوم/5.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza5" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger21"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/شادمهر/11.jpg">
                                        <img src="/img/اشخاص/شادمهر/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/شادمهر/4.jpg">
                                        <img src="/img/اشخاص/شادمهر/10.jpeg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/شادمهر/2.jpg">
                                        <img src="/img/اشخاص/شادمهر/13.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/شادمهر/8.jpeg">
                                        <img src="/img/اشخاص/شادمهر/6.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">شادمهر عقیلی (زادهٔ ۷ بهمن ۱۳۵۱ در
                                        تهران)، خواننده، آهنگساز، تنظیم‌کننده، نوازنده، ترانه‌سرا و بازیگر ایرانی است که
                                        با انتشار چند آلبوم موسیقی در ایران کار خود را آغاز کرد. وی پس از مدتی ابتدا به
                                        کانادا و سپس به ایالات متحدهٔ آمریکا مهاجرت کرد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">شادمهر در یک خانواده شش نفره در
                                        تهران متولد شد. سه برادر به نام‌های حمید، محمد تقی و محمد علی و یک خواهر به اسم
                                        پروین داشت که از این سه برادر، یکی از آن‌ها حین خدمت سربازی و یکی از آن‌ها در
                                        زلزلهٔ رودبار فوت شدند. محمد تقی نیز در سال ۹۲ درگذشت. پدرش نیز در دوران نوجوانی
                                        شادمهر درگذشت. نام پدر وی علیقلی و مادر وی که هم‌اکنون مقیم ایران است عاصفه است
                                        [نیازمند منبع]. شادمهر از کودکی با دیدن سازهای موسیقی به این رشته هنری علاقمند
                                        شد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">در سال ۱۳۷۶ از هنرستان موسیقی به
                                        اتفاق یک گروه به واحد موسیقی صداوسیما رفت. فؤاد حجازی هم جزو آن گروه بود. در
                                        همان‌جا بود که با خشایار اعتمادی و علیرضا عصار آشنا شد. اولین آلبوم بدون کلام او
                                        به نام «بهار من» که تنظیمی جدید از قطعات قدیمی بود مورد استقبال قرار گرفت و
                                        هم‌زمان همکاری خود را با صداوسیما آغاز کرد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">او از ۱۳۷۶ وارد واحد موسیقی صدا و
                                        سیما شد و در آنجا مشغول به کار شد ولی کارهایش برای کسب مجوز مشکل داشتند.
                                        به‌عنوان اولین کار «معبود» و سپس «فصل آشنایی» را اجرا کرد و بعد از آن آلبوم بهار
                                        من اولین کاست او بود. بهار من آلبوم بدون کلامی شامل ترانه‌های قدیمی مانند «گل
                                        گندم» و «بهار من»، «جان مریم» و… بود که شادمهر تنظیم و نوازندگی پیانو، گیتار و
                                        ویولن را در آن به عهده داشت. او در آلبومی به نام «فصل آشنایی» که کارهای دیگر
                                        خوانندگان پاپ آن روزگاران در ایران، هم در آن جای داشت سه آهنگ به نام‌های «باغ
                                        زندگی» به همراهی علیرضا عصار «معبود» و «فصل آشنایی» را ارائه کرد. سپس در آلبومی
                                        به نام «نازنین» باز هم به همراهی دیگر خوانندگان، دو آهنگ «قفس» و «تا بی‌نهایت
                                        شب» را ارائه کرد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">دهاتی، آلبوم بعدی عقیلی بود که توسط
                                        شرکت فرهنگی هنری «فارس نوا» منتشر شد. شرکت پخش‌کننده آلبوم دهاتی برای گرفتن مجوز
                                        با موانعی از سوی وزارت ارشاد روبرو شد به‌طوری‌که شادمهر بارها مجبور شد ترانه‌های
                                        این کار را بازخوانی و اصلاح کند. این آلبوم موفق شد تحولی بزرگ در موسیقی پاپ
                                        ایران پس از انقلاب ۱۳۵۷ ایجاد کند. بنا بر اعلام منابع متعددی آلبوم دهاتی پر
                                        فروش‌ترین آلبوم تاریخ موسیقی پاپ ایرانی، بعد از انقلاب ۱۳۵۷ ایران
                                        است.[۹][۱۰][۱۱]
                                        در دی ۱۳۹۲ این آلبوم پس از ۱۴ سال توسط توسط کمپانی ایران‌گام با طرح جلدی جدید
                                        بازنشر شد.[۱۲] باز نشر این آلبوم حواشی بسیاری را به وجود آورد.[۱۳][۱۴] همچنین
                                        روزنامه کیهان و خبرگزاری فارس با مقالاتی تند به بازنشر این آلبوم اعتراض کردند.
                                    </p>
                                    <p class="lead mr-5 ml-5" style="color: white;">نغمه‌های شرقی نام یک آلبوم بی‌کلام
                                        اثر شادمهر عقیلی است که در سبک پاپ تهیه و در سال ۱۳۷۸ منتشر شده‌است. این آلبوم
                                        در حقیقت بازسازی و تنظیم مجدد تعدادی از معروف‌ترین آهنگ‌های فریدون فروغی و گوگوش
                                        به صورت بی کلام می‌باشد. همچنین تراک شماره ۵ این آلبوم از ساخته‌های پرویز مقصدی
                                        برای احمد رضا نبی زاده می‌باشد که ورژنی تمرینی از این قطعه با صدای داریوش اقبالی
                                        هم منتشر شده‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">شادمهر عقیلی در سال ۱۳۸۱ به کانادا و
                                        سپس به ایالات متحده آمریکا مهاجرت کرد.[۱۹] و در آنجا موفق شد با کمپانی
                                        «نوامیدیا» قرارداد امضاء کند. هنوز چند وقتی تا انتشار اولین آلبوم او در خارج از
                                        کشور باقی‌مانده بود که ناگهان این آلبوم با کیفیت پایین در بازار ایران پخش شد.
                                        بعضی از آهنگ‌هایی که او اصلاً قصد انتشار آن‌ها را نداشت در این آلبوم منتشر شده
                                        بود. بعد از یک ماه از این ماجرا آلبوم او به‌طور رسمی و با نام خیالی نیست پخش شد.
                                        ترک دوم این آلبوم (ژینا) جز اولین تکنو ترنس‌های ایرانی به‌شمار می‌رود. بعد از
                                        منتشر شدن این آلبوم و به دلیل وجود نداشتن سه آهنگ: باور، می‌خوام برم، فال قهوه
                                        در آلبومی که یک ماه قبل در ایران پخش شده بود بار دیگر آلبوم او این بار با این سه
                                        آهنگ جدید و با نام فال قهوه در ایران به فروش رسید.</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/شادمهر/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/شادمهر/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/شادمهر/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/شادمهر/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/شادمهر/البوم/5.jpg" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class=" tab-pane fade" id="reza6" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger22"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/صادقی/11.jpg">
                                        <img src="/img/اشخاص/صادقی/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/صادقی/4.jpg">
                                        <img src="/img/اشخاص/صادقی/3.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/صادقی/2.jpg">
                                        <img src="/img/اشخاص/صادقی/12.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/صادقی/1.jpg">
                                        <img src="/img/اشخاص/صادقی/6.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">رضا صادقی، (زادهٔ ۲۵ مرداد ۱۳۵۸ در
                                        بندرعباس) خواننده سبک پاپ، آهنگساز، ترانه‌سرا و تنظیم‌کننده است.
                                        رضا صادقی در بیشتر آثارش، ترانه‌سرایی و آهنگ‌سازی به عهدهٔ خودش بوده‌است، و در
                                        اشعار بندری‌اش از سروده‌های ابراهیم منصفی و محمدعلی قویدل استفاده کرده‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">اصالت وی از روستای کریان از توابع
                                        شهرستان میناب در استان هرمزگان است.[۱] او در ۲۵ مرداد ۱۳۵۸ در محله شیر اول
                                        بندرعباس به دنیا آمد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">ابتدا کار خود را با تلاوت قرآن آغاز
                                        کرد. سپس علاقه‌مندی او به موسیقی موجب شد که مسیر خود را به آن سمت تغییر دهد.
                                        نخستین تجربهٔ او در موسیقی به آهنگ راز عشق در سال ۱۳۷۱ بازمی‌گردد. او در سال
                                        ۱۳۷۲ نخستین آلبوم خود را با همین نام منتشر کرد. بعد از آن همکاری خود را با گروه
                                        هنری کیمیا آغاز کرد و آلبوم‌های گل لاله، رؤیای شیرین و مستانه و دیوانه را عرضه
                                        کرد. بعد از آلبوم گل لاله همکاری خود را با گروه کیمیا قطع کرده و برای پیشرفت در
                                        کار به تهران آمد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">علاقهٔ او به هنرمندانی همچون ناصر
                                        چشم‌آذر و بابک بیات باعث شد تا آثار او تحت تأثیر آن‌ها قرار گیرد. او در بعضی
                                        کارهای خود از اشعار مهدی اخوان ثالث و سهراب سپهری استفاده کرده‌است. او که به
                                        «مشکی پوش» معروف است از ۲۵ مرداد ۱۳۷۲ لباس مشکی بر تن می‌کند. آغاز معروفیت او به
                                        ترانهٔ مشکی رنگ عشقه در آلبوم مشکی رنگ عشقه بر می‌گردد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">وی پس از «مشکی رنگ عشقه»، آلبوم
                                        «پیرهن مشکی» را به‌صورت رسمی و مجاز و با همکاری شرکت ایران‌گام ارائه کرد. آلبوم
                                        وایسا دنیا دومین آلبوم رسمی وی بود که در سال ۸۵ منتشر شد و موجی عظیم ایجاد کرد.
                                        آهنگ وایسا دنیا که قطعهٔ اول این آلبوم محسوب می‌شد با ترانه‌سرایی و آهنگسازی رضا
                                        صادقی و تنظیم سیروان خسروی در نظرسنجی شبکهٔ من و تو و در بخش ترانه‌های ماندگار
                                        این آهنگ رتبه ۲۸ام و بالاترین رتبه خواننده‌های داخلی را کسب کرد.
                                        پس از مدتی آلبومی نام چقدر سخته به‌صورت غیررسمی و به سبب دزدیده شدن این آلبوم از
                                        منزل شخصی‌اش منتشر شد. در سال ۱۳۸۸ رضا صادقی آلبوم سوم خود را به نام «یکی بود
                                        یکی نبود» منتشر کرد. رضا صادقی در نظرسنجی معتبر موسیقی دهه ۸۰ ایران به عنوان‌های
                                        محبوب‌ترین چهره، بهترین اجرای صحنه‌ای، بهترین آلبوم رتبهٔ اول را کسب کرد و در
                                        بخش قطعهٔ هیت، بهترین خواننده رتبه دوم را کسب نمود.[۲][۳]
                                        وی در سال ۱۳۹۰ آلبوم دیگری به نام دیگه مشکی نمی‌پوشم را ارائه کرد. قطعه ۵ این
                                        آلبوم به همین نام است. در پی اعلام نام این آلبوم شایعات نادرستی مبنی بر اتمام
                                        مشکی‌پوشی وی بیان می‌شد که پس از توضیحات خود رضا صادقی و قسمت پایانی این ترک
                                        مشخص شد که در این ترانه رضا صادقی می‌گوید: واسه رفتن از این دنیا دیگه مشکی
                                        نمی‌پوشم. در این آلبوم شعر ۱۲ آهنگ را خود رضا صادقی گفته‌است.
                                        در سال ۹۲ با شرکت تحت قرار دادش و پس از ارائه ۴ آلبوم با همکاری این شرکت به مشکل
                                        برخورد و اجازهٔ اجرای ترانه‌های معروف خود را در کنسرت‌ها نداشت و پس از یک سال
                                        سکوت آلبوم همین را در شرایط عجیب وارد بازار کرد. این آلبوم پیش از این، قرار بود
                                        با نام «عاشقتم» وارد بازار شود.
                                        رضا صادقی در سال ۹۳ آلبوم خود را با نام فقط گوش کن به عنوان دومین همکاری اش با
                                        آوای هنر ارائه کرد.
                                        در سال ۱۳۹۴ اثر وی «شب بارونی» او به‌صورت شخصی و اینترنتی منتشر شد و فروش حاصل
                                        از آن خرج امور خیریه شد.
                                        پس از آن طی همکاری با مؤسسهٔ فرهنگی هنری آراد در سال ۹۷، وی توانست قطعات
                                        پرطرفدار قدیمی اش را در کنسرت اجرا نماید
                                    </p>
                                    <p class="lead mr-5 ml-5" style="color: white;">ضا صادقی در بخش اجرای زنده توانایی
                                        فوق‌العاده‌ای دارد و در دوره فعالیت‌اش، بیشترین تعداد کنسرت را در شهرهای مختلف
                                        ایران و جهان برگزار کرده‌است. وی جزو انگشت‌شمار خواننده‌های ایرانی است که قبل از
                                        انتشار آلبوم رسمی اجرای زنده داشته‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">در سال‌ها اخیر امید حاجیلی، علی
                                        ثابت، بهنام ابطحی، و پویا نیک‌پور از رهبران ارکستر رضا صادقی بوده‌اند. هم‌اکنون
                                        رضا صادقی و بهنام ابطحی پس از مدتی قطع همکاری، دوباره همکاری خود را آغاز
                                        کرده‌اند و ابطحی، هم‌اکنون رهبر ارکستر رضا صادقی با نام ارکستر مشکی‌پوشان
                                        است.[۴] که نوازندگان بزرگی چون حسین شریفی، پیام طونی، مسعود همایونی، فاضل پیش در
                                        آن حضور دارند</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/صادقی/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/صادقی/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/صادقی/البوم/3.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/صادقی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/صادقی/البوم/5.jpg" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza7" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger23"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/یزدانی/9.jpg">
                                        <img src="/img/اشخاص/یزدانی/7.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/یزدانی/1.jpeg">
                                        <img src="/img/اشخاص/یزدانی/3.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/یزدانی/2.jpg">
                                        <img src="/img/اشخاص/یزدانی/12.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/یزدانی/8.jpg">
                                        <img src="/img/اشخاص/یزدانی/6.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">رضا یزدانی (زادهٔ ‎۲۴ مهر ۱۳۵۲ در
                                        تهران) خواننده، نوازندهٔ گیتار، آهنگساز و بازیگر اهل ایران است. او از نوجوانی
                                        فراگیری موسیقی را آغاز کرد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">رضا یزدانی از سال ۱۳۷۷ فعالیت‌های
                                        خود را به صورت جدی آغاز کرد، وی برای تئاتر «دادگاه جنجال‌برانگیز» آهنگسازی و
                                        خوانندگی انجام داد، و همچنین آهنگسازی و خوانندگی تئاتر «اگر باران بخواهد» را در
                                        سال ۱۳۷۸ انجام داد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">رضا یزدانی اولین آلبوم خود را به نام
                                        «شهر دل» در سال ۱۳۸۰ منتشر کرد.[۴] او در سال ۱۳۸۹ در فیلم سینمایی بوی گندم به
                                        کارگردانی محمدرضا خاکی حضور داشت و ترانه‌ای به نام خلیج فارس برای این فیلم
                                        سینمایی خواند.[۵] وی در سال ۱۳۹۲ خوانندگی تیتراژ فیلم سینمایی «خط ویژه» به
                                        کارگردانی مصطفی کیایی را بر عهده داشت</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">ضا یزدانی ترانه «وطن یعنی» را برای
                                        تیم ملی فوتبال ایران در مسابقات جام جهانی ۲۰۱۴ برزیل، در بهار سال ۱۳۹۳ منتشر
                                        کرد.[۷] او همچنین در مرداد ۱۳۹۴ در کنسرت «شب موسیقی فیلم مسعود کیمیایی» به رهبری
                                        بهزاد عبدی به خوانندگی پرداخت.[۸] او در سال ۱۳۹۶ خوانندگی نمایش «ترانه‌های
                                        قدیمی: پیکان جوانان» (به همراه احسان کرمی و هانا کامکار) به کارگردانی محمد
                                        رحمانیان را برعهده داشت</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">وی بازی در فیلم سینمایی «خوک» به
                                        کارگردانی مانی حقیقی را در سال ۱۳۹۶ تجربه نمود.[۱۱] او در سال ۱۳۹۷ در تئاتر «چند
                                        مسافر» به کارگردانی محمد رحمانیان به خوانندگی پرداخت.[۱۲] او در همین سال در فیلم
                                        سینمایی سوفی و دیوانه به کارگردانی و تهیه کنندگی مهدی کرم پور، بازی و خوانندگی
                                        کرد.[۱۳] وی در ماه رمضان سال ۱۳۹۸ نیز در سریال تلویزیونی «از یادها رفته» به
                                        کارگردانی بهرام بهرامیان به خوانندگی و ایفای نقش پرداخت.[۱۴] او همچنین در
                                        تابستان سال ۱۳۹۸ در تئاتر «عاشقانه‌های خیابان» به کارگردانی شهرام گیل‌آبادی،
                                        بازیگری و خوانندگی نمود</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">رضا یزدانی در بیستمین جشن حافظ سال
                                        ۱۳۹۹ برنده تندیس حافظ بهترین تیتراژ سریال و فیلم برای تیتراژ سریال از یادها رفته
                                        به کارگردانی بهرام بهرامیان با قطعه ای به نام عشقت شد. رضا یزدانی این تندیس را
                                        برای چهارمین بار دریافت کرد</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        /img/اشخاص/یزدانی/البوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        /img/اشخاص/یزدانی/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        /img/اشخاص/یزدانی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        /img/اشخاص/یزدانی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        /img/اشخاص/یزدانی/البوم/5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza8" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger24"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/قمیشی/9.jfif">
                                        <img src="/img/اشخاص/قمیشی/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قمیشی/2.jpg">
                                        <img src="/img/اشخاص/قمیشی/3.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قمیشی/1.jpg">
                                        <img src="/img/اشخاص/قمیشی/12.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قمیشی/8.jpg">
                                        <img src="/img/اشخاص/قمیشی/6.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">سیاوش قمیشی (زادهٔ ۲۱ خرداد ۱۳۲۴ در
                                        اهواز[۳]) موسیقی‌دان، آهنگساز، خواننده و ترانه‌سرای سرشناس ایرانی ساکن لس آنجلس
                                        است.[۴] سیاوش قمیشی تاکنون ۱۸ آلبوم رسمی موسیقی و ۲۰ تک آهنگ و یک موسیقی فیلم
                                        منتشر کرده‌است.[۵] او تاکنون آهنگ‌های موفق بسیاری را برای خوانندگان پاپ ایرانی
                                        ساخته‌است و نخستین هنرمند ایرانی است که توانسته‌است برای یک آهنگ، هر چهار بخش
                                        اصلی آن یعنی ترانه، آهنگ، تنظیم و خوانندگی را خود به تنهایی انجام بدهد. او به
                                        عنوان پایه‌گذار سبک موسیقی ترنس در ایران شناخته می‌شود.[۶] وی در میان هوادارانش
                                        به مرد بارانی مشهور می‌باشد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">سیاوش قمیشی کوچک‌ترین فرزند خانوادهٔ
                                        خویش است و دو برادر به نام‌های سیروس و سیامک و یک خواهر به نام سیمین دارد.[۱] او
                                        در اهواز به دنیا آمد[۷] و در سن ۹ ماهگی به همراه خانواده به تهران مهاجرت کرد.[۸]
                                        سیاوش ۶ سال داشت که یکی از برادرانش آکاردئون می‌آموخت و مادرش پیانو را زیر نظر
                                        یک معلم روس به نام اُلگا می‌آموخت. او از شنیدن صدای نواختن آن‌ها لذت بسیاری
                                        می‌برد و در حالی که کودک بود و پایش به پدال‌های پیانو نمی‌رسید به پشت ساز مادرش
                                        (پیانو) می‌نشست و با پدال‌های آن بازی می‌کرد. همین بازی‌ها به همراه صداهایی که
                                        از این ساز خارج می‌شد به او احساس خوبی می‌داد و رفته رفته سیاوش به موسیقی
                                        علاقه‌ای ویژه پیدا کرد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">سیاوش ۱۱ سال داشت که هر روز از مسیر
                                        مدرسه تا خانه از جلوی یک مغازهٔ کفش فروشی رد می‌شد که در ویترین‌اش یک گیتار برای
                                        تزئین دکور آویزان کرده بود. آن گیتار نگاه وی را به خود تا جایی جلب کرد که یک روز
                                        او با پدرش راجع به خرید آن گیتار صحبت کرد اما پدر با این موضوع مخالفت کرد. چندی
                                        بعد به مناسبت روز تولد سیاوش، پدر از سر تصمیم خود بازگشت و همان گیتار را برای
                                        سیاوش خرید. او مدتی با همان گیتار ناکوک به صورت غیر حرفه‌ای می‌نواخت تا این‌که
                                        روزی در یک کاباره که ویگن، خوانندهٔ نامدار آن زمان می‌خواند، شرکت کرد. در زمان
                                        استراحت بین اجرای آهنگ‌ها، سیاوش فرصت را غنیمت شمرد و نزد او رفت و نحوهٔ کوک
                                        گیتار را از او پرسید. ویگن او را به پشت صحنه برد و کوک گیتار را به‌او یاد داد.
                                        پس از آن روز، سیاوش مدت‌ها آهنگ‌های ویگن را گوش می‌کرد، می‌خواند و می‌نواخت.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">سیاوش ۱۳ ساله بود که خواننده‌ای به
                                        نام ضیا به او پیشنهاد داد تا به عنوان نوازندهٔ گیتار با او که او هم گیتار می‌زد،
                                        همکاری کند. این‌بار هم پدر با سیاوش مخالفت کرد. بعدها سیاوش از ضیا شعری گرفت و
                                        آهنگی را به صورت زمزمه روی آن گذاشت و ضیاء هم از آن استقبال کرد. سپس ضیاء آن را
                                        در رادیو اجرا کرد و آهنگ معروف شد؛ بنابراین سیاوش نخستین آهنگ خود را با نام «ای
                                        قایقران» برای ضیاء خوانندهٔ معروف آن سال‌ها ساخت</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">در تابستان ۱۳۳۸ خورشیدی (۱۹۵۹
                                        میلادی) برادر بزرگتر سیاوش که از لندن به تهران آمده بود، هنگام بازگشت وی را نیز
                                        با خود به لندن برد. سیاوش که ۱۴ ساله بود، به لندن نزد خواهر و برادرش رفت و در
                                        آنجا تحصیل کرد. زمانی که سیاوش هفده یا هجده ساله بود شب‌ها در باشگاه‌های شبانه
                                        با خوانندگی و نوازندگی در گروه‌های مختلف، خرج زندگی و تحصیل خود را درمی‌آورد. آن
                                        زمان موسیقی پاپ در لندن جاری بود و هنوز موسیقی راک به آن صورت شکل نگرفته بود. او
                                        چندین سال در انگلستان به عنوان گیتاریست و خواننده (به زبان انگلیسی) در گروه‌های
                                        موسیقی Avengers و Insects و دیگر گروه‌ها به فعالیت پرداخت. فضای آن سال‌های لندن
                                        مصادف بود با اوج فعالیت‌های گروه‌های نامیِ موسیقی آن زمان مانند رولینگ استونز،
                                        بیتلز و پینک فلوید. فضای هنر موسیقی آن سال‌های لندن که با فعالیت‌های گروه‌های
                                        معروف موسیقی به نوعی مهد آن روزهای موسیقی دنیا شده بود بسیار بر سبک هنر موسیقی
                                        سیاوش قمیشی تأثیر گذاشت و خود او همواره حضورش در لندن آن سال‌ها را یک توفیق بزرگ
                                        برای خود می‌داند. او سرانجام موفق به اخذ مدرک کارشناسی ارشد موسیقی در رشتهٔ
                                        آهنگ‌سازی از دانشگاه جامعه سلطنتی هنر واقع در لندن شد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">قمیشی با اعضای گروه‌هایی که کنسرت
                                        اجرا می‌کردند دوست بود و همین دوستی باعث شد که بعد از مدتی فعالیت خود را با یکی
                                        از همین گروه‌ها آغاز کند. سیاوش ساز می‌نواخت و اعضا ارکستری که با او دوست بودند
                                        از این موضوع اطلاع داشتند و وقتی گیتاریست یکی از همین ارکسترها مریض شد و مدت‌ها
                                        بود که کسی را به عنوان جانشین وی پیدا نمی‌کردند از سیاوش قمیشی درخواست نمودند تا
                                        جایگزین وی شود و این چنین رسماً پیشنهاد همکاری به او دادند. این همکاری بسیار خوب
                                        شروع شد و پایه‌گذاری مناسبی بود. سیاوش همکاری خود را به مدت سه سال با این ارکستر
                                        Insects ادامه داد و بعد از آن به مدت چهار سال با گروهی به نام Wingers به ادامهٔ
                                        فعالیت پرداخت و سرانجام خودش ارکستر مخصوص خودش را پایه گذاشت. ارکستری که جز خودش
                                        باقی نوازنده‌های آن غیر ایرانی بودند. وظیفهٔ سیاوش قمیشی در این بند خوانندگی بود
                                        و در عین حال به نواختن گیتار هم می‌پرداخت. بعد از مدتی کیبوردیستشان به دلایلی
                                        ارکستر را ترک کرد و سیاوش از آن موقع مسئولیت نواختن کیبورد را نیز پذیرفت و جای
                                        خالی کیبوردیستِ رفته را پُر کرد. زندگی سیاوش به همین شکل می‌گذشت.نتشار آلبوم
                                        رسمی اجرای زنده داشته‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">سیاوش قمیشی در تهران به عنوان
                                        کیبوردیست و خواننده (به زبان‌های غیر از فارسی از جمله انگلیسی و ایتالیایی) در
                                        گروهی به نام The Rebels (ترجمه فارسی: شورشیان) به همراه شهرام شب‌پره (که خود او
                                        بنیانگذار این گروه بود)، همایون جمالی و کامبیز معینی همکاری کرد. در این گروه
                                        سیاوش قمیشی به عنوان کیبوردیست و خواننده آهنگ‌های با ریتم کند، شهرام شبپره به
                                        عنوان جازیست و خواننده آهنگ‌های با ریتم تند، همایون جمالی به عنوان بیسیست و
                                        کامبیز معینی به عنوان گیتاریست فعالیت می‌کردند</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قمیشی/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قمیشی/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قمیشی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قمیشی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قمیشی/البوم/5.jpg" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center">
                    <ul class="nav nav-pills flex-column" role="tablist">
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link active"
                                data-toggle="tab" role="tab" href="#reza">ابی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza1">داریوش</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link "
                                data-toggle="tab" role="tab" href="#reza2">امید حاجیلی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza3">محسن چاوشی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza4">بهنام بانی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza5">شادمهر عقیلی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza6">رضا صادقی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza7">رضا یزدانی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza8">سیاوش قمیشی</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- end card -->
    <!-- start footer -->
    <footer class="end" style="background-image: url(/img/12.png)">
        <section class="end">
            <form action="">
                <div class="text text-center">
                    <h2>سایت we sic شامل برترین اهنگ های پاپ سنتی<br>موسیقی فیلم و شامل برترین کنسرت های روز دنیا
                    </h2>
                    <h2>we sic 2019 - 2020</h2>
                    <div style="font-size: 1.5em;">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href="""><i class=" fab fa-instagram"></i></a>
                        <a href=""><i class="fas fa-film"></i></a>
                        <a href=""><i class="fab fa-telegram-plane"></i>
                    </div>
                </div>
            </form>
        </section>
    </footer>