<body style="background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);">
    <!-- !start navbar -->
    <nav>
        <header>
            <div class="login-box" style="background-image: url(/img/12.png)">
                <form action="">
                    <div class="nav-bar d-flex justify-content-between">
                        <!-- <div class="search d-flex  ml-2 pt-2">
                            <button class="serch-reza">search</button>
                            <input style="height: 5vh;" type="search" class="form-control-sm input-reza"
                                placeholder="جستجو در بین هزاران اهنگ...">
                        </div>
                        <div class="icons d-flex ml-2 pt-2">
                            <a class="music" href="">
                                <i class="fas fa-music"></i>
                            </a>
                        </div> -->
                    </div>

                    <div class="text text-center">
                        <span class="re  badge" style="color: black; background-color: white;">sic</span>
                        <span class="badge" style="color: red;">we</span>
                    </div>
                </form>
            </div>
            <section class="mainbox">
                <div class="mains">
                    <div class="my-row d-flex flex-row justify-content-center  flex-wrap"
                        style="background-image: url(/img/12.png)">
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/">خانه</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/traditi">سنتی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/musicvideo">موزیک
                                ویدیو</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/pop">پاپ</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/musicfilm">موسیقی فیلم</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/england">خارجی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">راک</a>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </header>
    </nav>
    <!-- end navbar -->

    <!-- start card -->
    <main style="height: 100%;">
        <div class="reza ml-3">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="reza" role="tabpanel">
                            <div class="display-2 text-light text-center" id="nameSinger10"></div>
                            <div class="row ">
                                <div class="column">
                                    <img src="/img/اشخاص/همایون شجریان/1.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/2.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/8.jpg">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/همایون شجریان/4.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/5.jfif">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/همایون شجریان/7.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/13.jpg">
                                </div>
                                <div class="column">
                                    <img src="/img/اشخاص/همایون شجریان/11.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/3.jpg">
                                    <img src="/img/اشخاص/همایون شجریان/12.jpg">
                                </div>
                            </div>
                            <div class="container text-center">
                                <p style="color: white; ;" class="lead ml-2 mr-2">همایون شجریان (زادهٔ ۳۱ اردیبهشت ۱۳۵۴)
                                    موسیقی‌دان، خوانندهٔ موسیقی سنتی ایرانی و موسیقی تلفیقی، آهنگساز و نوازندهٔ تنبک و
                                    کمانچه است. وی پسر محمدرضا شجریان است.</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">همایون شجریان در ۳۱ اردیبهشت ۱۳۵۴ در
                                    تهران در خانواده‌ای اهل موسیقی متولد شد. وی فرزند محمدرضا شجریان است.
                                    همایون شجریان برادر کوچک مژگان شجریان است. او در سال ۱۳۷۵ با گیتا خوانساری ازدواج
                                    کرد که حاصل این ازدواج فرزندی با نام یاسمن است.
                                    همایون شجریان در سال ۱۳۹۴ به صورت رسمی از همسر خود گیتا خوانساری جدا شد.</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">همایون از کودکی به موسیقی علاقه‌مند
                                    بود. تا آن که با راهنمایی پدرش برای فراگیری تکنیک و شناخت ریتم زیر نظر ناصر فرهنگ‌فر
                                    به آموزش دید. او همچنین مدتی آموختن موسیقی را زیر نظر جمشید محبی ادامه داد. او به
                                    همراه خواهرانش یادگیری آواز را از پدرشان آموختند.[۲] در همان زمان به هنرستان موسیقی
                                    رفت و کمانچه را به عنوان ساز تخصصی خود انتخاب کرد و در خارج از هنرستان به ادامهٔ
                                    فراگیری ساز زیر نظر اردشیر کامکار و آشنایی با تار و سنتور به صورت گوشی مشغول شد.</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">او از سال ۱۳۷۰ به‌همراه محمدرضا شجریان
                                    را در کنسرت‌های آمریکا، اروپا و ایران (با تنبک) همراهی کرد و از ۱۳۷۸ به بعد در صحنهٔ
                                    کنسرت‌ها به هم‌خوانی با پدرش مشغول شد. اولین اثر با حضور او یاد ایام نام دارد که در
                                    آن، همایون تنبک‌نوازی را بر عهده داشت. همایون شجریان کنسرت‌های بسیاری را با چهره‌های
                                    شناخته‌شدهٔ موسیقی ایرانی اجرا کرده و آثار زیادی را به همراه آنان در ایران و جهان
                                    منتشر کرده‌است که از آن‌ها می‌توان به آلبوم کنسرت‌های «بی تو بسر نمی‌شود» و «فریاد»
                                    اشاره کرد. هر دوی این آلبوم‌ها در سال‌های ۲۰۰۳ و ۲۰۰۵ نامزد دریافت جایزه گرمی شدند
                                </p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">همایون شجریان به آهنگسازی برای سایر
                                    خوانندگان نیز مشغول بوده‌است؛ از جمله، تصنیف «دل سِتان» با مطلع «ای کاروان آهسته
                                    ران» را برای «علیرضا افتخاری» در آلبوم «قصهٔ شمع» آهنگسازی کرده‌است</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">اولین آلبوم همایون شجریان که به تنهایی
                                    خوانندگی آن را بر عهده داشت «نسیم وصل» نام دارد که آهنگ‌سازی آن را محمدجواد ضرابیان
                                    بر عهده داشته‌است در سال ۱۳۸۲ منتشر شد. این سرآغازی بود بر اجرای کنسرت‌ها و
                                    آلبوم‌های مستقل او. وی پس از آن در سال ۱۳۸۳ دو آلبوم شوق دوست و ناشکیبا را منتشر کرد
                                    و در سال ۱۳۸۴ نقش خیال را به آهنگ‌سازی علی قمصری به بازار عرضه کرد که با استقبال
                                    فراوانی روبرو شد. پس از آن در مهرماه ۱۳۸۵ آلبوم با ستاره‌ها که حاصل همکاری او با
                                    محمدجواد ضرابیان می‌باشد را به بازار عرضه کرد. در سال ۱۳۸۷ دو آلبوم قیژک کولی و
                                    خورشید آرزو را با همکاری گروه دستان منتشر کرد. او آب، نان، آواز را به آهنگسازی علی
                                    قمصری در سال ۱۳۸۸ و آلبوم شب جدایی را در سال ۱۳۸۹ منتشر کرد. در سال ۱۳۹۰ او آلبوم
                                    شوق‌نامه و ای جان جان بی من مرو را عرضه کرد. آلبوم شوق‌نامه به نوعی بازیابی تصانیف
                                    منسوب به عبدالقادر مراغه‌ای است که حاصل ۴ سال تلاش گروهی به سرپرستی محمدرضا درویشی
                                    است.</p>
                                <p style="color: white; ;" class="lead ml-2 mr-2">البته همایون شجریان تا سال ۱۳۸۸ پدرش
                                    را در اجراها همراهی می‌کرد. این دو مدت زمانی عضو گروه آوا بودند و در این دوران دو
                                    آلبوم غوغای عشق‌بازان و کنسرت محمدرضا شجریان و گروه آوا اجرا و به بازار عرضه
                                    شدند.[۷]
                                    ترانه «وطن» بر اساس شعری با همین نام از سیاوش کسرایی از کارهایی بود که همایون شجریان
                                    چندی قبل از خرداد ۱۳۸۸ منتشر کرد.[۱۰]
                                    در اسفند ۱۳۹۷ گواهینامه درجه یک هنری (معادل مدرک تحصیلی دکتری) در رشته «آواز» توسط
                                    وزارت ارشاد به همایون شجریان اعطاء شد.</p>
                            </div>
                            <div class="container text-center"><span class="postertext">برترین آلبوم ها</span></div>
                            <div id="owl-product" class="reza-owl  owl-carousel owl-theme container">
                                <div class="item poster"><img src="/img/اشخاص/همایون شجریان/البوم/1.jfif" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/همایون شجریان/البوم/2.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/همایون شجریان/البوم/3.jfif" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/همایون شجریان/البوم/4.jpg" alt=""></div>
                                <div class="item poster"><img src="/img/اشخاص/همایون شجریان/البوم/5.jpg" alt=""></div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="reza1" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger11"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/محمد رضا شجریان/1.jpg">
                                        <img src="/img/اشخاص/محمد رضا شجریان/2.jpg">
                                        <img src="/img/اشخاص/محمد رضا شجریان/6.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/محمد رضا شجریان/4.jpg">
                                        <img src="/img/اشخاص/محمد رضا شجریان/5.jpg">
                                        <img src="/img/اشخاص/محمد رضا شجریان/15.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/محمد رضا شجریان/7.jfif">
                                        <img src="/img/اشخاص/محمد رضا شجریان/13.jpg">
                                        <img src="/img/اشخاص/محمد رضا شجریان/16.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/محمد رضا شجریان/11.jfif">
                                        <img src="/img/اشخاص/محمد رضا شجریان/3.jfif">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-4 ml-4 " style="color: white;" ">محمدرضا شجریان (زاده ۱ مهر ۱۳۱۹ – درگذشته ۱۷ مهر ۱۳۹۹) موسیقی‌دان و خوانندهٔ سبک اصیل ایرانی بود. وی همچنین خوش‌نویس در خطِ نستعلیق،[۲] رئیس شورای عالی خانه موسیقی ایران،[۳] بنیان‌گذار گروه شهناز[۴] و آفریننده چند ساز موسیقی بود. او در قرائت قرآن نیز فعالیت داشت و دعای ربنا، نامدارترین تلاوت قرآنیِ او بود. شجریان در میان دوستداران خود با عنوان «استاد آواز ایران» و «خسروِ آواز ایران» نیز شناخته می‌شود.[۵][۶][۷] برخی او را مهم‌ترین چهرهٔ موسیقی سنتی ایران و یکی از نمادهای مهم فرهنگ و موسیقی ایران‌زمین می‌دانند.[۸][۹][۱۰][۱۱] شجریان از آوازه‌ای بین‌المللی نیز برخوردار بود</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;" ">از فرزندان محمدرضا شجریان، همایون و مژگان در زمینهٔ موسیقی فعالیت دارند. خوانندگان سرشناسی چون ایرج بسطامی، مظفر شفیعی، حسام‌الدین سراج، حمیدرضا نوربخش، علی جهاندار و پسرش همایون از شاگردان شجریان بودند</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;" ">محمدرضا شجریان در سال ۱۳۸۱ دو آلبوم بی تو به‌سر نمی‌شود و فریاد را منتشر کرد که با همکاری حسین علیزاده، کیهان کلهر و همایون شجریان اجرا شده بودند. این دو آلبوم نامزد جایزه گرمی شدند.[۳۲] این گروه چهارنفره در زمستان سال ۱۳۸۲ نیز جهت کمک به زلزله‌زدگان بم در تهران کنسرتی برگزار کردند که با نام هم‌نوا با بم شناخته می‌شود. وی درآمد حاصل از فروش دی وی دی این کنسرت را به پروژهٔ باغ هنر بم که خودش آن را تأسیس کرده بود، اختصاص داد.[۳۳][۳۴] شجریان، علیزاده، کلهر و همایون شجریان در پاییز ۱۳۸۴ نیز یک کنسرت برگزار کردند که حاصل آن آلبوم‌های ساز خاموش و سرود مهر بود و پس از آن دیگر این چهار نفر با یکدیگر همکاری نکردند. از سال ۱۳۸۶، محمدرضا شجریان به همکاری با گروه آوا پرداخت و کنسرت‌هایی در تهران، اصفهان، اروپا، آمریکا و کانادا اجرا کرد. در این دوران، دو اثر به نام‌های غوغای عشق‌بازان (آلبوم صوتی) و کنسرت محمدرضا شجریان و گروه آوا (آلبوم تصویری) به همراه گروه آوا اجرا و به بازار عرضه شد.[۳۵] در همین سال مادر شجریان درگذشت و وی در مراسم ختم مادرش پس از ۳۰ سال، دعای ربنا را دوباره خواند.[۳۶] شجریان در این دوره به همراه پسرش همایون شجریان موسیقی اصیل و سنتی ایرانی را ترویج و اشاعهٔ می‌دهد. پس از برگزاری کنسرت شجریان در ونکوور کانادا، گلوب اند میل، شجریان را افسانهٔ موسیقی شرق معرفی کرد.</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;" ">محمدرضا شجریان در سال ۱۳۸۷ یک گروه موسیقی بنیان‌گذاری کرد و آن را به افتخار جلیل شهناز (نوازندهٔ نامی تار)، گروه شهناز نامید.[۳۸][۳۹] از جمله اعضای این گروه می‌توان به مژگان شجریان (دختر او) و مجید درخشانی (نوازنده تار و سه تار) اشاره کرد. از آن زمان به بعد، محمدرضا شجریان با این گروه فعالیت داشته‌است. یکی از ویژگی‌های مهم این گروه موسیقی، استفاده از سازهای ابداعی محمدرضا شجریان است که برخی از آن‌ها ویژگی‌هایی دارند که آن‌ها را مناسب جایگزین با سازهای غربی همچون ویولون می‌کند</p>
                                    <p class=" lead mr-4 ml-4" style="color: white;" ">پس از دهمین دورهٔ انتخابات ریاست جمهوری ایران، محمدرضا شجریان در نامه‌ای به عزت‌الله ضرغامی از وی خواست تا از پخش آثار او در صدا و سیما خودداری کند. وی گفت: «سرودهایی که خوانده به‌ویژه سرود ایران، ای سرای امید متعلق به سال‌های ۱۳۵۷ و ۱۳۵۸ بوده و هیچ ارتباطی با شرایط کنونی ندارد». وی اعلام کرد سازمان صدا و سیما هیچ نقشی در تهیه این آثار نداشته و به حکم قانون و شرع از این سازمان خواسته صدا و آثار او را در هیچ‌یک از واحدهای رادیو و تلویزیون پخش نکند.[۴۱]البته همزمان در آن نامه، شجریان دعای «ربنا» و «مناجات افشاری» خود را به ملت ایران تقدیم و تأکید کرد حساب این دو اثر از بقیه آثارش جداست. اما پس از شکایت رسمی وی از صدا و سیما عده‌ای از مدیران صدا و سیما اعلام کردند دیگر حتی دعای ربنای ایشان را هم پخش نمی‌کنیم. محمدحسین صوفی، معاون صدای سازمان نیز اعلام کرد: «از این پس حتی در ماه رمضان صدای محمدرضا شجریان از شبکه‌های رادیویی پخش نمی‌شود». محمدرضا شجریان در گفتگو با بی‌بی‌سی گفت: «در شرایطی که مردم در بهت و حیرت هستند و به گفته آقای احمدی‌نژاد، خس و خاشاک به حرکت درآمده‌اند، صدای من در صدا و سیما جایی ندارد. صدای من صدای خس و خاشاک است و همیشه هم برای خس و خاشاک خواهد بود».[۱۸] در همین دوران شجریان تک‌آهنگ زبان آتش را در حمایت از معترضان و در پی اعتراضات سال ۱۳۸۸ با آهنگ‌سازی خودش و تنظیم مجید درخشانی و شعر فریدون مشیری منتشر کرد.[۴۲][۴۳] پس از این اتفاقات، پخش دعای ربنا نیز در صدا و سیما ممنوع شد.</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;" ">در سال ۱۳۸۹، محمدرضا شجریان به همراه گروه شهناز یک تور کنسرت جهانی برگزار کرد که دو مورد از این کنسرت‌ها منتشر شده‌اند. کنسرت محمدرضا شجریان و گروه شهناز در دبی و اثر دیگر کنسرتی در لندن است که بی‌بی‌سی به صورت رسمی پخش کرد. مجید درخشانی (سرپرست گروه شهناز)، این دو کنسرت را از موفق‌ترین کنسرت‌های این گروه می‌داند که در آن بسیاری از سازهای ابداعی محمدرضا شجریان مورد استفاده قرار گرفته‌اند</p>
                                    <p class=" lead mr-4 ml-4 " style=" color: white;" ">پیکر شجریان صبح روز ۱۹ مهر ۱۳۹۹ نزدیک آرامگاه فردوسی به خاک سپرده شد. پیکر او با نوای ربنا به محل دفن رسید و پیش از خاکسپاری، همایون و مژگان شجریان به همراه جمعیت مرغ سحر را با گریه خواندند. ورود به محوطه دفن ممنوع اعلام شد و ترافیک سنگینی در راه به وجود آمد. همچنین در شبکه‌های اجتماعی گفته شد که نیروی انتظامی مسیرهای ورودی به مشهد و توس را بسته و نیروهای امنیتی حضور سنگینی در مراسم داشتند.[۶۳]
                                                      حسام‌الدین سراج، خواننده ایرانی، از لغو مراسم هفتمین روز درگذشت محمدرضا شجریان در تهران با وجود اخذ مجوز و بدون اطلاع قبلی به برگزارکنندگان و شرکت‌کنندگان خبر داد. او که یکی از برگزارکنندگان این مراسم بود، در اینستاگرام نوشت که قرار بود این برنامه روز پنج‌شنبه، ۲۴ مهر، برگزار شود که «بدون اطلاع قبلی اما به دلیل جلوگیری از گسترش بیماری کرونا لغو شد». قرار بود مراسم بزرگداشت محمدرضا شجریان، در پردیس سینمایی شهرک غرب برگزار شود ولی مدیریت این مجموعه اعلام کرد: «همه مجوزها و هماهنگی‌ها اخذ و انجام شده بود، اما متأسفانه ۴۰ دقیقه قبل از شروع مراسم لغو برنامه اعلام شد و مراسم تعطیل شد.».[۶۴][۶۵]
                                                      برخی گزارش‌ها حاکی از پایین کشیدن تصاویر محمدرضا شجریان از روی بیلبوردهای شهر همدان بود در حالی که هشت روز به پایان تاریخ مجوز باقی مانده بود. شهرداری همدان گفت که ربطی به شهرداری ندارد و اداره کل فرهنگ و ارشاد اسلامی استان همدان مجوز نصب این بنرها را صادر و بعد هم باطل کرده و خود این ارگان باید پاسخ‌گو باشد.»</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container ">
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/محمد رضا شجریان/البوم/1.jpg" alt="">
                                    </div>
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/محمد رضا شجریان/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster owl-reza">
                                        <img src="/img/اشخاص/محمد رضا شجریان/البوم/3.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/محمد رضا شجریان/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/محمد رضا شجریان/البوم/5.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class=" tab-pane fade" id="reza2" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger12"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/افتخاری/1.jpg">
                                        <img src="/img/اشخاص/افتخاری/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/افتخاری/4.jpg">
                                        <img src="/img/اشخاص/افتخاری/5.jpg">
                                        <img src="/img/اشخاص/افتخاری/9.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/افتخاری/7.jpg">
                                        <img src="/img/اشخاص/افتخاری/8.jpg">
                                        <img src="/img/اشخاص/افتخاری/2.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/افتخاری/11.jpg">
                                        <img src="/img/اشخاص/افتخاری/3.jfif">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p style="color: white;" class="lead mr-5 ml-5">علیرضا افتخاری مهیاری (زادهٔ ۱۰
                                        فروردین ۱۳۳۷ در اصفهان) موسیقی‌دان، آهنگ‌ساز و خوانندهٔ ایرانی است.[۲][۳][۴] او
                                        از پرمخاطب‌ترین خواننده‌های ایران است و آثارش از پرفروش‌ترین آثار منتشر شدهٔ
                                        موسیقی ایران هستند.[۵] این خواننده تاکنون بیش از هفتاد آلبوم موسیقی منتشر
                                        کرده‌است[۶] و به سبب خوانندگی در مقام‌ها و سبک‌های مختلف موسیقی پاپ، تلفیقی و
                                        سنتی، با عنوان مرد هزارچهرهٔ موسیقی ایران از او یاد می‌شود</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">علیرضا افتخاری در سال ۱۳۳۷ در اصفهان
                                        در خانواده‌ای نسبتا فقیر به دنیا آمد.[۸] وی در سال ۱۳۵۵ ازدواج نمود و حاصل این
                                        ازدواج سه فرزند به نام‌های الهام، مرجان و آوا می‌باشد</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">افتخاری در کودکی نزد طباطبایی،
                                        نوازندهٔ ویولن تعلیم دید. از ۱۲ سالگی نزد تاج اصفهانی به یادگیری ردیف‌های آوازی
                                        پرداخت. پس از مدتی نیز هم‌زمان به بهره‌گیری از آموزش‌های جلیل شهناز و حسن کسایی
                                        در زمینه ردیف‌های موسیقی سنتی مشغول شد. در سال ۱۳۵۷ خورشیدی در آزمون باربد و در
                                        حضور علی‌اکبر شهنازی، داریوش صفوت، علی تجویدی موفق به کسب رتبۀ نخست شد. از سال
                                        ۱۳۶۰ نزد غلامرضا دادبه به یادگیری موسیقی پرداخت. در سال ۱۳۶۲، نخستین آلبوم خود
                                        را به توصیهٔ فرامرز پایور با نام «آتش دل» و به یاد تاج اصفهانی منتشر کرد.
                                        افتخاری بعد از سه سال کارهایی نظیر راز و نیاز با همکاری حسین علیزاده و مهرورزان
                                        با همکاری محمدعلی کیانی‌نژاد را اجرا کرد. افتخاری در سال‌های نخست دههٔ ۱۳۶۰
                                        خورشیدی، اجراهای خصوصی نیز به همراه حسن کسائی، حبیب‌الله بدیعی، غلامحسین
                                        بیگجه‌خانی و جلیل شهناز داشت که این آثار تک نسخه‌ای بودند و هیچ‌گاه منتشر نشدند.
                                        اواخر دههٔ ۱۳۶۰ خورشیدی، وی کنسرت‌هایی را در ژاپن، آلمان، کانادا و بریتانیا
                                        برگزار کرد. کنسرت راه ابریشم، که در ۲۸ شهر دنیا اجرا شد و همچنین کنسرت آلمان که
                                        با همراهی پرویز مشکاتیان برگزار شد، از جملهٔ این کنسرت‌ها هستند.[۹]در یکی از
                                        همین کنسرت‌ها در ونکور کانادا شایعه بمب‌گذاری در سالن سبب شد که افتخاری به مدت ۶
                                        ساعت بدون امکانات صوتی در فضای آزاد برنامه اجرا کند</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">افتخاری نخستین فردی بود که پس از
                                        انقلاب ۱۳۵۷ ایران، اشعار حافظ را به صورت ترانه و تصنیف خواند. تصنیف‌هایی همچون
                                        روز هجران و نفس باد صبا از این گونه‌اند</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">دوران کاری افتخاری را به سه بخش
                                        تقسیم می‌شود. بخش نخست، از سال ۱۳۶۲ تا ۱۳۷۵ که بسیار کم‌کار بود. تعداد آثار او
                                        در این دوره، به‌طور متوسط حدود یک آلبوم در سال است. دورهٔ دوم، از سال ۱۳۷۵ تا
                                        ۱۳۸۹ که دورهٔ اوج افتخاری به‌شمار می‌آید و به‌طور متوسط پنج آلبوم در سال
                                        خوانده‌است. سومین دوران کاری افتخاری از سال ۱۳۸۹ به بعد است که بسیار کم‌کار بوده
                                        و آثار بسیار کمی از وی انتشار یافته‌است.</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">افتخاری در این دوران بیشتر به مکتب
                                        اصفهان و روایت آوازی تاج اصفهانی وفادار بود. او در این دوران حدود ۱۵ آلبوم
                                        خوانده‌است که سیر تحول سبک افتخاری را به نمایش گذارده‌است. او با انتشار آلبوم
                                        آتش دل به توصیهٔ فرامرز پایور در سال ۱۳۶۲ کار خود را شروع کرد و با آلبوم
                                        نیلوفرانه در سال ۱۳۷۵ سبک آوازی خود را یافت. از جمله آثار افتخاری در این دوران
                                        آلبوم‌های مهمان تو با همکاری جمشید عندلیبی، شور عشق با همکاری فریدون شهبازیان،
                                        راز و نیاز با نوازندگی حسین علیزاده، مقام صبر با نوازندگی پرویز مشکاتیان،
                                        زیباترین با همراهی محمدجواد ضرابیان و سرمستان هستند.
                                        افتخاری در این دوران به موسیقی سنتی وفادار بود. در ابتدای این دوران، حجمِ غالبِ
                                        آلبوم‌های او آواز بوده‌اند ولی در اواخر این دوران، به ارائه یک یا دو آواز در هر
                                        آلبوم و خواندن حدود ۶ قطعه تصنیف رسید. برخی آلبوم‌ها نظیر امان از جدایی و تازه
                                        به تازه که هر دو از ساخته‌های محمدجلیل عندلیبی هستند، به‌طور کامل فاقد آواز
                                        بوده‌اند و هر آلبوم ۸ قطعه تصنیف دارد. در این دوران او به سمت تصنیف حرکت کرد.
                                    </p>
                                    <p style="color: white;" class="lead mr-5 ml-5">در هفدهم مرداد ۱۳۸۹ و حدود یک‌سال پس
                                        از انتخاب مجدد محمود احمدی‌نژاد به ریاست‌جمهوری و پیامدهای آن، در مراسم بزرگداشت
                                        روز خبرنگار که در مرکز همایش‌های صداوسیما برگزار شد، افتخاری و احمدی‌نژاد یکدیگر
                                        را در آغوش کشیدند و افتخاری به او گفت: «آقای رئیس‌جمهور دوستت دارم».[۱۵] این
                                        اقدام از سوی مخالفان دولت با انتقادهای شدیدی روبه‌رو شد.[۱۵]کم‌تر از یک ماه پس
                                        از آن اتفاق، خبرگزاری‌های داخل ایران گزارش دادند که بر اثر عواقب منفی آن دیدار
                                        در میان مخالفان احمدی‌نژاد، افتخاری تصمیم گرفته از ایران برود و در فرانسه اقامت
                                        گزیند.[۱۶] در ۱۹ مهر ۱۳۸۹ افتخاری در گفت و گوی تلفنی با بخش خبری ۲۰:۳۰ صدا و
                                        سیما از آزار خود و خانواده‌اش سخن گفت و در حالی‌که بغض کرده‌بود گفت: «در دانشگاه
                                        موهای دختر مرا کشیده‌اند و به وی توهین کرده‌اند در حالی که او یک استاد دانشگاه
                                        است».[۱۷] او در سال ۱۳۹۶ در مصاحبه با ماهنامهٔ «تجربه» گفت که دلخوری مردم از این
                                        ماجرا به حدی بوده که حتی سوپرمارکت محل به او جنس نمی‌فروخته[۱۸] و بر اثر این
                                        فشارها روی خود و خانواده‌اش، قصد خودکشی داشته است.[۱۹] افتخاری در سال ۱۳۹۴ و در
                                        مصاحبه‌ای دیگر از احمدی‌نژاد به‌عنوان «انسان قدرنشناسی که در این مدت حتی یک‌بار
                                        پیگیر احوال من نشده» یاد کرده بود و گفته بود «اگر تاریخ به عقب برگردد، من غلط
                                        بکنم بخواهم ایشان را در آغوش بگیرم»</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/5.jpg" alt="">
                                    </div>

                                    <div class="item poster">
                                        <img src="/img/اشخاص/افتخاری/البوم/6.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class=" tab-pane fade" id="reza3" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger13"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/ناظزی/1.jfif">
                                        <img src="/img/اشخاص/ناظزی/9.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/ناظزی/4.jpg">
                                        <img src="/img/اشخاص/ناظزی/5.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/ناظزی/11.jpg">
                                        <img src="/img/اشخاص/ناظزی/8.jpg">
                                        <img src="/img/اشخاص/ناظزی/2.jfif">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/ناظزی/7.jpg">
                                        <img src="/img/اشخاص/ناظزی/3.jpg">
                                        <img src="/img/اشخاص/ناظزی/10.jpg">

                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">

                                    <p style="color: white;" class="lead mr-5 ml-5">شهرام ناظری (زادهٔ ۲۹ بهمن ۱۳۲۸ در
                                        کرمانشاه[۳]) موسیقیدان و خواننده ایرانی است. او از مشهورترین و برجسته ترین
                                        چهره‌های موسیقی اصیل ایرانی است و ملقب به شوالیه آواز ایران است. انجمن آسیا وی
                                        را «هنرمند برتر آسیا»[۴][۵]، نیویورک تایمز او را «بلبل فارسی»[۶] و کریستین ساینس
                                        مانیتور او را «لوچانو پاواروتیِ ایران» نامیده است</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">شهرام ناظری از آغاز دهه پنجاه در
                                        سطحِ کشوریِ ایران به عنوان یک هنرمند شناخته شد و نخستین آلبوم‌هایش به صورتِ
                                        آلبوم‌های مشترک با محمدرضا شجریان با محتوای میهنی و مضامینی نظیر آزادی‌خواهی در
                                        اواخر دهه پنجاه توسط کانون چاووش منتشر شد و از آثار کانون چاووش، تصنیف‌های
                                        «ایران ای سرای امید» ساختهٔ محمدرضا لطفی بر روی شعری از ه.ا.سایه که توسط هم
                                        شجریان و هم ناظری خوانده شد، و «آزادی» باصدای ناظری و «همراه شو عزیز» باصدای
                                        شجریان، به شهرت بالا رسیدند. پس از پایان کار کانون چاووش، ناظری در دهه شصت به
                                        خواندن قطعات بسیار با شعر مولانا جلال‌الدین بلخی پرداخت و نخستین خواننده‌ای شد
                                        که به‌طور ویژه به شعر مولوی توجه کرده‌است و از آن میان، آلبوم «گل صدبرگ» به شهرت
                                        و محبوبیتِ بالا رسید. در آغاز دهه هفتاد، هم‌کاری شهرام ناظری با پسرعمویش کیخسرو
                                        پورناظری منجر به خلق آثار بسیار با ساز تنبور شد. از آثار حاصل این دوره، تصنیف
                                        «مهتاب‌رو» شهرت خاصی یافت.</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">از معروف‌ترین تصنیف‌های شهرام ناظری
                                        می‌توان به تصنیف‌های «اندک اندک» با شعر مولانا در آلبوم «گل صدبرگ»، تصنیف «آتشی
                                        در نیستان» با شعر مجذوب تبریزی در آلبومی به همین نام، «کاروان شهید» با آهنگ
                                        محمدرضا لطفی و «شیدا شدم» با شعر خودش، تصنیف «مهتاب‌رو» در آلبومی به همین نام، و
                                        تصنیف‌های میهنی و ایران‌دوستانه‌اش (مانند سرود «ایران جوان» یا آثار کانون چاووش)
                                        اشاره کرد. هم‌چنین، آثاری که ناظری به زبان مادری‌اش، زبان کُردی، اجرا کرده،
                                        مشهورند. از معروف‌ترین آثار کردیِ کرمانشاهانی که ناظری نیز خوانده می‌توان به
                                        تصنیف‌های قدیمیِ «کابوکی»، «شیرین شیرین» و «واران وارانه» اشاره کرد که او
                                        بازخوانی کرده‌است</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">شهرام ناظری در کوچهٔ یخچالی در محله
                                        شریعتی در کرمانشاه، در خانواده‌ای کرُد زبان و آشنا با موسیقی و شعر متولد شد وی
                                        صدای دل‌نشینش را از پدر و مادر خویش به یادگار دارد و از دوران خردسالی توسط مادرش
                                        با شعر و آواز آشنا شد؛ پدرش نیز صدای لطیفی داشت و ضمن آشنایی با گوشه‌ها و
                                        ردیف‌های آواز ایرانی، سه‌تار هم می‌نواخت. وی از سبک قدما و خوانندگان آن دیار به
                                        خصوص «شیخ داوودی» خوانندهٔ بزرگ آن زمان بهره گرفته و نیز داشته‌هایش را در اختیار
                                        فرزندش گذاشت</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">اظری همواره در پی بهره بردن از مکاتب
                                        و استادان مختلف بوده‌است. وی در سال ۱۳۴۵ برای بهره‌گیری از محضر استادانی چون
                                        عبدالله دوامی، نورعلی خان برومند، عبدالعلی وزیری، محمود کریمی[۱][۲][۱۰] عازم
                                        تهران شد و ضمن بهره‌گیری از محضر این استادان، سه‌تار را نیز نزد استادان احمد
                                        عبادی، جلال ذوالفنون و محمود هاشمی فرا گرفت.
                                        شهرام ناظری به مدت یک سال نیز در تبریز با نوازندگان و موسیقی‌دانان آن دیار مانند
                                        غلامحسین بیگجه‌خانی و محمود فرنام قیطانچیان که خود از شاگردان اقبال آذر بودند در
                                        زمینه موسیقی ایرانی کار کرد. در سال ۱۳۵۴ بنا به پیشنهاد نورعلی‌خان برومند به
                                        استخدام رادیو تلویزیون ایران درآمد و اولین برنامهٔ خود را با گروه شیدا به
                                        سرپرستی محمدرضا لطفی با مثنوی مولوی و ترانه‌ای از شیخ بهایی اجرا کرد،[۱۱] پس از
                                        آن با گروه عارف به سرپرستی حسین علیزاده و پرویز مشکاتیان کار خود را ادامه داد.
                                        ناظری در سال ۱۳۵۵ در نخستین آزمون موسیقی سنتی ایران با نام باربد شرکت کرد و
                                        توانست مقام نخست را در رشتهٔ آواز در این آزمون به دست آورد.[۱۲] در سال ۱۳۵۶
                                        همراه با گروه سماعی به سرپرستی اصغر بهاری و حسن ناهید برای اجرای کنسرت در
                                        جشنوارهٔ توس انتخاب شد.</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">ناظری از سال ۱۳۵۷ تا ۱۳۶۰ در
                                        آلبوم‌های چاووش به شماره‌های ۲، ۳، ۴، ۷ و ۸ با همکاری گروه‌های شیدا و عارف کانون
                                        فرهنگی و هنری چاووش به سرپرستی محمدرضا لطفی، حسین علیزاده و پرویز مشکاتیان آواز
                                        خوانی کرد. کانون چاووش با تلاش محمدرضا لطفی و زیر نظر ه. الف. سایه پایه‌گذاری
                                        شده بود و از آن جایی که این کانون در زمان انقلاب فعالیت می‌کرد، بیشتر محتوای
                                        آلبوم‌های چاووش حماسی و انقلابی بودند. برخی از آلبوم‌های چاووش، از جمله چاووش ۲،
                                        اولین آلبوم با حضور شهرام ناظری آلبوم‌های مشترکی بین ناظری و محمدرضا شجریان
                                        می‌باشند و در آن‌ها این دو هنرمند سرودهای انقلابی بسیاری را اجرا کرده‌اند. چاووش
                                        ۲ دربرگیرندهٔ دو سرود معروف شب نورد و برادر نوجوونه، باصدای شجریان و آزادی آن
                                        زمان که بنهادم، باصدای ناظری می‌شد. تصنیف معروف ای پدر اثر محمدرضا لطفی در چاووش
                                        ۴ اجرا شد تا حس از دست دادن فردی بزرگ را منتقل کند.</p>
                                    <p style="color: white;" class="lead mr-5 ml-5">شهرام ناظری آلبوم مثنوی موسی و شبان
                                        را با همکاری جلال ذوالفنون و بهزاد فروهری، بنمای رخ را با همکاری نوازندگان مرکز
                                        حفظ و اشاعه موسیقی سنتی ایران و گروه مولانا به سرپرستی محمدجلیل عندلیبی، آلبوم
                                        صدای سخن عشق را باهمکاری گروه تنبور شمس و لاله بهار را با همکاری گروه عارف به
                                        سرپرستی پرویز مشکاتیان تهیه کرد.
                                        او در سال‌های ۱۳۶۰ تا ۱۳۶۴ به روش‌های مختلف مشغول تدریس موسیقی و ردیف‌های آوازی
                                        به علاقه‌مندان گردید. در این دوران آثار زمستان، بشنو از نی و نجوا را منتشر نمود.
                                        از سال ۱۳۶۴ به بعد با همکاری گروه‌های موسیقی ایرانی کارهای زیبایی را به بازار
                                        موسیقی عرفانی و اصیل ایرانی عرضه ساخت که از درخشان‌ترین این آثار می‌توان
                                        شورانگیز با همکاری حسین علیزاده، گل صدبرگ و آتش در نیستان با همکاری جلال
                                        ذوالفنون، یادگار دوست و ساقی‌نامه ۱ و ساقی‌نامه ۲ را با همکاری کامبیز روشن‌روان
                                        نام برد. در این سال هاست که ناظری آلبوم بی‌قرار را با همکاری گروه جلیل عندلیبی و
                                        همچنین کنسرت استادان موسیقی ایران را با همکاری گروه استادان موسیقی ایران (گروهی
                                        به سرپرستی فرامرز پایور) اجرا و منتشر کرده‌است. لازم است ذکر شود گل صدبرگ
                                        معروف‌ترین اثر شهرام ناظری و بسیاری از مردم ناظری را با تصنیف اندک اندک با شعر
                                        مولانا اجرا شده در این آلبوم می‌شناسند.</p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/ناظزی/البوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/ناظزی/البوم/2.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/ناظزی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/ناظزی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/ناظزی/البوم/5.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza4" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger14"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/قربانی/1.jfif">
                                        <img src="/img/اشخاص/قربانی/5.jpg">
                                        <img src="/img/اشخاص/قربانی/9.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قربانی/4.jpg">
                                        <img src="/img/اشخاص/قربانی/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قربانی/11.jpg">
                                        <img src="/img/اشخاص/قربانی/8.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/قربانی/7.jpg">
                                        <img src="/img/اشخاص/قربانی/3.jpg">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">وی از دوران کودکی به مدت چندین سال
                                        به فراگیری هنر قرائت قرآن نزد استادان مختلف پرداخت و از سال ۱۳۶۳ به‌طور جدی به
                                        فراگیری ردیف آوازی، تلفیق شعر و موسیقی، بینش و زیبایی‌شناسی در آواز ایران
                                        پرداخت. وی در این راه از محضر خسرو سلطانی، بهروزعابدینی، مهدی فلاح، حسین عمومی و
                                        احمد ابراهیمی و نورالدین رضوی سروستانی بهره‌مند گردید.[۱] از سال ۱۳۷۸ به عنوان
                                        خواننده ارکستر ملی ایران به رهبری فرهاد فخرالدینی به اجرای برنامه‌های متعدد در
                                        داخل و خارج از کشور پرداخته‌است.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">فعالیت حرفه‌ای خود را به عنوان
                                        خواننده موسیقی ایرانی از اواسط دهه ۷۰ آغاز کرد و در سال ۱۳۷۷ پس از شروع فعالیت
                                        رسمی ارکستر موسیقی ملی ایران به رهبری فرهاد فخرالدینی و خوانندگی محمدرضا شجریان
                                        و با معرفی حسین عمومی و علی تجویدی، همکاری خود را به عنوان خواننده ثابت ارکستر
                                        ملی ایران آغاز کرد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">یکسال بعد اولین آلبوم صوتی او با نام
                                        «اشتیاق» به آهنگسازی فرهاد فخرالدینی و اجرای ارکستر ملی ایران منتشر شد. قربانی
                                        تا سال ۱۳۸۸ و تا پیش از تعطیل شدن ارکستر ملی به صورت ثابت با آن همکاری داشت. سپس
                                        با بازگشایی ارکستر در سال ۹۰ به رهبری بردیا کیارس در چند اجرا آن را همراهی کرد و
                                        پس از آن از ارکسترهای دولتی کناره گرفت</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">علیرضا قربانی به موازات ارکستر ملی
                                        ایران، از سال ۱۳۷۵ فعالیت‌های جدی در زمینه موسیقی اصیل ایرانی انجام داده‌است.
                                        «فصل باران» به آهنگسازی مجید درخشانی، «از خشت و خاک» و «روی در آفتاب» به
                                        آهنگسازی صادق چراقی، «سوگواران خموش» به آهنگسازی پژمان طاهری، «سرو روان» به
                                        آهنگسازی علی قمصری و «فصل باران» با آهنگسازی خود از جمله آثاری هستند که قربانی
                                        در بین سال‌های ۸۰ تا ۸۷ در زمینه موسیقی اصلی ایرانی خوانندگی آن را برعهده
                                        داشته‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">علیرضا قربانی همچنین در عرصه
                                        بین‌المللی نیز فعالیت‌های گسترده‌ای داشته‌است. او در بسیاری از فستیوال‌های معتبر
                                        دنیا در آسیا، اروپا و شمال آفریقا حضور داشته‌است. همچنین دو آلبوم از او به
                                        نام‌های «جلوه گل» با همراهی داریوش طلایی و همین‌طور «سودایی» به آهنگسازی سامان
                                        صمیمی در اروپا منتشر شده‌است. همچنین همکاری مشترک او با خواننده تونسی (درصف
                                        حمدانی) به نام سرمستی (Ivresses) بر روی رباعیات خیام نیشابوری با استقبال
                                        فوق‌العاده‌ای در اروپا مواجه شد و تعداد زیادی از فستیوال‌های معتبر دنیا به اجرا
                                        درآمد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">او همچنین دو همکاری مشترک با گروه
                                        شمس به نام‌های «برسماع تنبور» و «قطره‌های باران» را منتشر کرده. دو همکاری او
                                        مهیار علیزاده آهنگساز جوان به نام‌های «حریق خزان» و «دخت پری وار» هم مورد
                                        استقبال مخاطبان قرار گرفت. اثر دیگر او به نام «هم آواز پرستوهای آه» با آهنگسازی
                                        سیاوش ولی پور و بر اساس اشعاری از مهدی اخوان ثالث، از دیگر آثار با آهنگسازان
                                        جوان موسیقی ایرانی است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">دو آلبوم دیگر ارتباط دارد به
                                        بازخوانی آثار آهنگسازان معروف و قدیمی ایرانی. اولی بر اساس ساخته‌های همایون خرم
                                        به نام «رسوای زمانه» که در سال ۱۳۸۸ منتشر شد و دومی بر اساس ساخته‌های «علی
                                        تجویدی» به نام «رفتم و بار سفر بستم» که رد سال ۱۳۹۳ روانه بازار شد.
                                        تنها آلبوم مشترک او و فردین خلعتبری «من عاشق چشمت شدم» نام دارد که مجموعه‌ای از
                                        همکاری‌های این دو هنرمند در زمینه موسیقی فیلم و تیتراژهای سریال‌های تلویزیونی
                                        است.
                                        آلبوم علیرضا قربانی با نام «فروغ» به آهنگسازی سامان صمیمی از طرف مؤسسه فرهنگی
                                        هنری آهنگ اشتیاق وابسته به خود او منتشر شده‌است
                                    </p>
                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قربانی/البوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قربانی/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قربانی/البوم/3.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قربانی/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/قربانی/البوم/5.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class=" tab-pane fade" id="reza5" role="tabpanel">
                            <div>
                                <div class="display-2 text-light text-center" id="nameSinger15"></div>
                                <div class="row ">
                                    <div class="column">
                                        <img src="/img/اشخاص/معین/1.jpg">
                                        <img src="/img/اشخاص/معین/5.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/معین/4.jpg">
                                        <img src="/img/اشخاص/معین/10.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/معین/11.jfif">
                                        <img src="/img/اشخاص/معین/8.jpg">
                                    </div>
                                    <div class="column">
                                        <img src="/img/اشخاص/معین/14.jfif">
                                        <img src="/img/اشخاص/معین/3.jfif">
                                    </div>
                                </div>
                                <div class="container" data-parent="#myaccordion">
                                    <p class="lead mr-5 ml-5" style="color: white;">نصرالله معین نجف‌آبادی با نام هنری
                                        معین (زادهٔ ۲۹ دی ۱۳۳۰ در نجف‌آباد، اصفهان)، خوانندهٔ سرشناس موسیقی سنتی ایرانی
                                        و موسیقی پاپ ایرانی ساکن لس‌آنجلس است. او از ۱۸ سالگی با شروع یادگیری گوشه‌ها و
                                        دستگاه‌های آوازی ایران در نزد اساتیدی چون تاج اصفهانی و حسن کسایی پا به عرصهٔ
                                        موسیقی و آواز گذاشت. نخستین ترانهی رسمی او، قطعه‌ای به نام «یکی را دوست می‌دارم»
                                        بود که در سال ۱۳۵۷ انتشار یافت و سبب شهرت او شد. معین پس از وقوع انقلاب اسلامی
                                        ۱۳۵۷ ایران و در نتیجهٔ اعمال محدودیت‌هایی بر روی فعالان عرصهٔ موسیقی، به ایالات
                                        متحده آمریکا مهاجرت کرد و در آنجا فعالیت خود را با انتشار نخستین آلبوم رسمی خود
                                        به نام «می‌پرستم» پی گرفت. عموم آثار شنیدهٔ شده از معین، حاصل همکاری‌های او با
                                        دیگر هنرمندان مهاجر ایرانی است. او در کارنامهٔ هنری خود، ۲۶ آلبوم رسمی ثبت
                                        کرده‌است که آخرین آن، «ماندگار» نام دارد و در سال ۱۳۹۸ منتشر شد. معین تاکنون
                                        برنامه‌های متعددی در تالارهای مطرح جهان از جمله «تالار یونیورسال» و تالار روباز
                                        «گریک تئاتر» لس آنجلس، و «خانهٔ اوپرا دبی» اجرا کرده‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">معین در روز جمعه ۲۹ دی ۱۳۳۰ در
                                        نجف‌آباد واقع در استان اصفهان در خانواده‌ای مذهبی و از نظر مالی در سطح متوسط و
                                        پرجمعیت به دنیا آمد. معین هفتمین فرزند خانواده‌اش است. او در دوران نوجوانی و
                                        جوانی قرآن را با صوت و اشعار و غزلیات شعرای بزرگ را می‌خواند و در همان دوران با
                                        دوستان خود در مجالس شادمانی برنامه‌های بسیاری در شهر خود و دیگر شهرهای استان
                                        اصفهان اجرا می‌کرد. وی از دوران کودکی علاقهٔ خود را به آواز نشان داد. معین در سن
                                        ۱۸ سالگی مدتی نزد استادان موسیقی ایرانی همچون تاج اصفهانی و حسن کسایی به یادگیری
                                        گوشه‌ها و دستگاه‌های آواز ایرانی پرداخت. از سال ۱۳۴۹ تا ۱۳۵۷ در رادیو اصفهان و
                                        هتل عباسی اصفهان و کاباره هزار و یک شب به اجرای برنامه مشغول شد</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">معین نخستین ترانهٔ خود را در سال
                                        ۱۳۵۷ در تهران با عنوان «یکی را دوست می‌دارم» روانهٔ دنیای موسیقی کرد. «یکی را
                                        دوست می‌دارم» با ترانه‌ای از مسعود امینی (دکمله ابتدایی ایرج بقایی کرمانی) و
                                        آهنگی از معین آن چنان در میان مردم جا باز کرد که پس از مدتی کوتاه از مرزهای
                                        ایران گذشت و توسط دیگر خوانندگان ایرانی که پس از انقلاب به آمریکا مهاجرت کرده
                                        بودند خوانده شد. هایده، ابی و عارف از جمله معروف‌ترین این خوانندگان بودند. با
                                        انتشار این ترانه، معین یک شبه راهی را که بسیاری برای آن سال‌ها کار کرده بودند
                                        پیمود و به آوازه خوانی نامی تبدیل شد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">فعالیت جدی معین از سال‌های آغازین
                                        دهه ۱۳۶۰ خورشیدی در آمریکا آغاز شد. معین در سال ۱۳۶۰ نخستین آلبوم مستقل خود را
                                        با نام «می‌پرستم» (ناشر: شرکت ترانه) راهی بازار کرد. معین در طول دوران فعالیت
                                        خود با شماری از آهنگسازان موسیقی پاپ ایران همچون: صادق نوجوکی، محمد حیدری، کاظم
                                        عالمی، حسن شماعی‌زاده، منوچهر چشم‌آذر، فرید زلاند، آندرانیک، جهانبخش پازوکی و
                                        ترانه‌سرایان سرشناس مانند لیلا کسری، هما میرافشار و اردلان سرفراز همکاری و نیز
                                        با هایده همخوانی داشته‌است</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">معین پس از مهاجرت به آمریکا، با
                                        آهنگساز سرشناس ایرانی صادق نوجوکی آشنا شد که حاصل این آشنایی، آلبوم‌های «ننه (به
                                        تو می‌اندیشم)» و «خاطره ۷» و ترانه‌هایی همچون «طناز»، «ارباب وفا» و… است که در
                                        محبوبیت معین تأثیر چشم‌گیری داشته‌اند.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">معین با انتشار آلبوم پریچه در سال
                                        ۱۳۶۴ با آهنگ‌هایی از فرید زلاند و بیژن مرتضوی پرفروش‌ترین آلبوم سال را منتشر
                                        کرد. قبل از آن نیز معین و هایده زوج هنری موفقی تشکیل داده و موفق به تولید
                                        پرفروش‌ترین آلبوم سال ۱۳۶۲ یعنی «گل‌های غربت» شده بودند. معین در طول دوره فعالیت
                                        خود برنامه‌های گوناگونی را در سراسر جهان اجرا کرده‌است. از جمله کنسرت‌های موفق
                                        او می‌توان به کنسرت در یونیورسال آمفی تئاتر در لس آنجلس در سال ۱۹۹۲ (به سرپرستی
                                        آندرانیک) اشاره کرد.</p>
                                    <p class="lead mr-5 ml-5" style="color: white;">معین در سال ۱۳۷۹ آلبوم پرواز را
                                        منتشر کرد و دو سال بعد، در سال ۱۳۸۱ آلبوم «لحظه‌ها» را روانه بازار کرد که یکی از
                                        ماندگارترین آلبوم‌های تاریخ ایران است و قطعه‌های این آلبوم از سطح آن زمانِ
                                        موسیقی ایران کاملاً فراتر بود. معین در این آلبوم با شاعران و آهنگسازانی همچون
                                        حسن شماعی‌زاده، هما میرافشار و بابک رادمنش همکاری داشت. از کارهای این آلبوم
                                        می‌توان به «لحظه‌ها»، «فراموشم نکن»، «قسم نخور» و «شبای رفتن تو» اشاره کرد. در
                                        پاییز سال ۱۳۸۶، معین آلبوم «طلوع» را که حاصل همکاری او با بابک بیات، بابک
                                        صحرایی، فضل‌الله توکل، صادق نوجوکی، کاظم عالمی بود منتشر کرد. معین در ارائه
                                        کارهای عاشقانه و غمگین تبحر عجیبی دارد که به سوز و غم پنهان در صدایش مرتبط است.
                                        او علاوه بر محبوبیت کم‌نظیر در نزد ایرانیان، درکشورهای دیگر از جمله تاجیکستان
                                        پرآوازه است. معین چند سالی است که رویه کارش را بر ارائه تک‌آهنگ گذاشته‌است؛
                                        «شمال، خونه آرزو، همدم، مردم و…» از این ترانه‌ها هستند. وی پس از انتشار
                                        تک‌آهنگ‌های خود، در ۳۰ دی ۱۳۹۸، آلبوم «ماندگار» را منتشر کرد که در این آلبوم با
                                        شاعران و آهنگسازانی همچون افشین مقدم، افشین یداللهی، روزبه بمانی، هما میرافشار،
                                        بابک زرین، محمد حیدری و فضل‌الله توکل همکاری کرده‌است؛ این آلبوم تاکنون آخرین
                                        آلبوم او به‌شمار می‌رود
                                    </p>

                                </div>
                                <div class=" container text-center"><span class="postertext">برترین آلبوم ها</span>
                                </div>
                                <div id="owl-product" class="owl-carousel owl-theme container">
                                    <div class="item poster">
                                        <img src="/img/اشخاص/معین/البوم/1.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/معین/البوم/2.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/معین/البوم/3.jfif" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/معین/البوم/4.jpg" alt="">
                                    </div>
                                    <div class="item poster">
                                        <img src="/img/اشخاص/معین/البوم/5.jpg" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center">
                    <ul class="nav nav-pills flex-column" role="tablist">
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link active"
                                data-toggle="tab" role="tab" href="#reza">همایون شجریان</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza1">محمدرضا شجریان</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link "
                                data-toggle="tab" role="tab" href="#reza2">علیرضا افتخاری</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza3">شهرام ناظری</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza4">علیرضا قربانی</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white; font-size:1em; font-weight: bold;" class="nav-link"
                                data-toggle="tab" role="tab" href="#reza5">معین</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- end card -->
    <!-- start footer -->
    <footer class="end" style="background-image: url(/img/12.png)">
        <section class="end">
            <form action="">
                <div class="text text-center">
                    <h2>سایت we sic شامل برترین اهنگ های پاپ سنتی<br>موسیقی فیلم و شامل برترین کنسرت های روز دنیا
                    </h2>
                    <h2>we sic 2019 - 2020</h2>
                    <div style="font-size: 1.5em;">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href="""><i class=" fab fa-instagram"></i></a>
                        <a href=""><i class="fas fa-film"></i></a>
                        <a href=""><i class="fab fa-telegram-plane"></i>
                    </div>
                </div>
            </form>
        </section>
    </footer>