<body style="background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);">
    <!-- !start navbar -->
    <nav>
        <header>
            <div class="login-box" style="background-image: url(/img/12.png)">
                <form action="">
                    <div class="nav-bar d-flex justify-content-between">
                        <div class="search d-flex  ml-2 pt-2">
                            <button class="serch-reza">جستجو</button>
                            <input style="height: 5vh;" type="search" class="form-control-sm input-reza"
                                placeholder="جستجو در بین هزاران اهنگ...">
                        </div>
                        <div class="icons d-flex ml-2 pt-2">
                            <a class="music user" href="/users/register"><i class="fas fa-user"></i></a>
                            <a class="musicplayer" href="/musicplayer"><i class="fab fa-spotify"></i></a>
                            <a class="game" href="/game"><i class="fas fa-gamepad"></i></a>
                            <a class="music" href="#">
                                <i id="musicIcon" class="fas fa-pause"></i>
                                <audio autoplay>
                                    <source src="/music/Relax Music 2019 - Nicmusic 01.mp3" type="audio/mpeg">
                                </audio>
                            </a>
                        </div>
                    </div>

                    <div class="text text-center">
                        <span class="re  badge" style="color: black; background-color: white;">sic</span>
                        <span class="badge" style="color: blue;">we</span>
                    </div>
                </form>
            </div>
            <section class="mainbox">
                <div class="mains">
                    <div class="my-row d-flex flex-row justify-content-center  flex-wrap"
                        style="background-image: url(/img/12.png)">
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/">خانه</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/traditi">سنتی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/musicvideo">موزیک ویدیو</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/pop">پاپ</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/musicfilm">موسیقی فیلم</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;"
                                href="/england">خارجی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">راک</a>
                        </div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">محلی</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="/cover">بی کلام</a></div>
                        <div class="my-col"><a style="text-decoration: none; color: white;" href="#">برای مطالعه</a>
                        </div>
                    </div>
                </div>
            </section>
        </header>
    </nav>
    <!-- end navbar -->

    <!-- start card -->
    <main>
        <div style="margin: auto;" class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/خارجی/a4.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">خارجی</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/pageengland"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/سنتی/e2 (1).jfif" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">سنتی</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/pagetraditional"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/پاپ/a2.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">پاپ</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/pagepop"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/پستر/177497_691.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">راک</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/cover"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/پستر/کنسرت-موسیقی-گروه-گیل-و-دیلم.jpg" class="card-img-top"
                        alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">محلی</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/cover"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 respons">
                <div style="margin: 20px;  height: 50vh; background-image: url(/img/ZLINE\ Kitchen\ and\ Bath\ 3\ x\ 5\ Oil-Rubbed\ Bronze\ Copper\ Sample.jfif);"
                    class="card">

                    <img style="height: 55%;" src="/img/پستر/f53227feb202591ffa42b327f9414810.jpg" class="card-img-top"
                        alt="">
                    <div class="card-body">
                        <div class="menuicon">
                            <span class="s1"></span>
                            <span class="s2"></span>
                        </div>
                        <div class="reza d-flex justify-content-between">
                            <div class="reza-ali">
                                <h3 style="color: white;" class="card-title">بی کلام</h3>
                            </div>
                            <div class="ali-reza"><a style="color:  blue;" s href="/cover"
                                    class="btn"><span>ورود</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end card -->
    <!-- start footer -->
    <footer class="end" style="background-image: url(/img/12.png)">
        <section class="end">
            <form action="">
                <div class="text text-center">
                    <h2>سایت we sic شامل برترین اهنگ های پاپ سنتی<br>موسیقی فیلم و شامل برترین کنسرت های روز دنیا
                    </h2>
                    <h2>we sic 2019 - 2021</h2>
                    <div style="font-size: 1.5em;">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href="""><i class=" fab fa-instagram"></i></a>
                        <a href=""><i class="fas fa-film"></i></a>
                        <a href=""><i class="fab fa-telegram-plane"></i>
                    </div>
                </div>
            </form>
        </section>
    </footer>